<p-card class="question-container" [formGroup]="question">
  <p-header>
    <div class="question-type p-input-filled">
      <span *ngIf="questionIndex >= 0" class="question-type__number">
        {{ questionIndex + 1 }}
      </span>
      <label class="sr-only" for="question-type-{{ questionIndex }}">
        Select Question Type
      </label>
      <p-dropdown
        class="question-type__input"
        [options]="questionTypes"
        formControlName="type"
        [filter]="true"
        filterBy="label"
        [showClear]="true"
        inputId="question-type-{{ questionIndex }}"
        placeholder="Select a Question Type"
      ></p-dropdown>
      <p-button
        icon="pi pi-trash"
        styleClass="question-type__delete-btn p-button-text p-button-danger p-button-lg"
        (onClick)="removeQuestion.emit(questionIndex)"
      ></p-button>
    </div>
  </p-header>

  <app-order-mail-form-maker-dropdown
    *ngIf="question.value.type === 'dropdown'"
    [form]="question"
    (childQuestionActive)="emitActiveChildQuestion($event)"
  ></app-order-mail-form-maker-dropdown>
  <app-order-mail-form-maker-radio
    *ngIf="question.value.type === 'radio'"
    [form]="question"
  ></app-order-mail-form-maker-radio>
  <app-order-mail-form-maker-text
    *ngIf="question.value.type === 'text'"
    [form]="question"
  ></app-order-mail-form-maker-text>
  <app-order-mail-form-maker-color
    *ngIf="question.value.type === 'color'"
    [form]="question"
    [pantoneColors]="data"
  ></app-order-mail-form-maker-color>
  <app-order-mail-form-maker-date-picker
    *ngIf="question.value.type === 'date-picker'"
    [form]="question"
  ></app-order-mail-form-maker-date-picker>
</p-card>
