@import "../../../assets/css/variables.scss";

:host {
  ::ng-deep {
    .order-dates-picker {
      margin-top: 2em;

      .p-card {
        &-title {
          padding: 1rem 1rem 0 1rem;
        }

        &-body {
          padding: 0;
        }

        &-content {
          padding: 1em 1em 0 1em;
        }

        &-footer {
          padding: 1em;
        }
      }

      .date-picker {
        border: 1px solid $light-grey;
        border-radius: 6px;
        padding: 1em;

        .p-datepicker-inline {
          flex-direction: column;
        }

        label {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 0.5em;
        }

        .date-picker-content__input-value {
          margin-top: 1em;

          .label {
            font-weight: 500;
          }
        }
      }
    }
  }
}
