<div>
  <app-header></app-header>
  <div class="container">
    <div *ngIf="cartItem" class="row justify-content-center">
      <h1 class="order-summary__title">Order Summary</h1>
      <div class="col-12 d-flex justify-content-center">
        <div
          class="row justify-content-around align-items-stretch mt-5 mb-5">
          <div class="col-12 col-sm-5 p-0 d-flex flex-column justify-content-center">
            <app-product-summary-card
              [name]="cartItem.product.name"
              [image]="cartItem.product.image"
              [description]="cartItem.product.description"
              [totalPrice]="cartItem.total_price"
            ></app-product-summary-card>
          </div>
          <div class="col-12 col-sm-6">
            <p-calendar
              [inline]="true"
              dateFormat="dd.mm.yy"
              [disabledDays]="[0,6]"
              [readonlyInput]="true"
              showButtonBar="true"
              [(ngModel)]="orderDeliveryDate"
            >
              <p-header [ngClass]="'date-picker__title mb-3'">Select Delivery Date</p-header>
            </p-calendar>
          </div>
        </div>
      </div>
      <app-order-summary-table
        [order]="cartItem"
      ></app-order-summary-table>
      <div class="text-right mt-4 mb-5">
        <button
          type="button"
          class="btn btn-primary btn--confirm align-self-end"
          [disabled]="!orderDeliveryDate"
          (click)="confirmOrder()"
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
