<app-header></app-header>
<div class="container">
  <!-- product slider starts -->
  <div class="row mt-5">
    <div class="col-md-12">
      <app-featured-product-slider
        [featured]="featured"
      ></app-featured-product-slider>
    </div>
  </div>
  <!-- product slider ends -->
  <div class="row justify-content-center mt-5">
    <!-- category tablist starts -->
    <div class="col-md-3 mb-5">
      <h3>
        Filter
      </h3>
      <p-accordion [multiple]="true">
        <p-accordionTab [selected]="true">
          <p-header>
            Categories
            <span class="status-badge status-badge--inactive p-ml-1"
              *ngIf="selectedCategories.length < 1"
            >
              Inactive
            </span>
          </p-header>
          <div *ngFor="let category of categories" class="p-field-checkbox">
            <p-checkbox
              name="category"
              value="category"
              [value]="category"
              [(ngModel)]="selectedCategories"
              [inputId]="category.value"
              [disabled]="category.value === 'none'"
              (onChange)="updateProducts()"
            ></p-checkbox>
            <label [for]="category.value">{{ category.label }}</label>
          </div>
        </p-accordionTab>
        <p-accordionTab [selected]="true">
          <p-header>
            Tags
            <span class="status-badge status-badge--inactive p-ml-1"
              *ngIf="selectedTags.length < 1"
            >
              Inactive
            </span>
          </p-header>
          <p *ngIf="tags.length < 1; else tagsList">
            No Tags found !
          </p>
          <ng-template #tagsList>
            <div *ngFor="let tag of tags" class="p-field-checkbox">
              <p-checkbox
                name="tag"
                [value]="tag.value"
                [(ngModel)]="selectedTags"
                [inputId]="tag.value"
                (onChange)="updateProducts()"
              ></p-checkbox>
              <label [for]="tag.value">{{tag.label}}</label>
            </div>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
    </div>
    <!-- category tablist starts -->
    <div class="col-sm-12 col-md-9">
      <!-- product search bar starts -->
      <div class="row justify-content-start align-items-center search-bar mb-3">
        <div class="col-12 col-md-8 col-lg-6">
          <input
            class="form-control"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
        <div class="col-1 mt-1 mt-md-0">
          <button class="btn btn-dark search-btn" type="submit">Search</button>
        </div>
      </div>
      <!-- product search bar ends -->
      <!-- product card list starts -->
      <div class="row row-cols-1 row-cols-lg-3 justify-content-start mb-5">
        <div
          *ngIf="products.length < 1" 
          class="col-12">
          <h3>
            No Products Found
          </h3>
        </div>
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">
          <app-product-card
            [product]="product"
            styleClass="p-mt-3"
          ></app-product-card>
        </div>
      </div>
      <!-- product card list ends -->
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation">
        <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
      </nav>
    </div>
  </div>
</div>
<app-footer></app-footer>
