<app-header></app-header>
<div class="container">
  <!-- product slider starts -->
  <div class="row mt-5">
    <div class="col-md-12">
      <app-product-slider [data]="featured"></app-product-slider>
    </div>
  </div>
  <!-- product slider ends -->
  <div class="row justify-content-center mt-5">
    <!-- category tablist starts -->
    <div class="col-md-3 mb-5">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">Shirts</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">Caps</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" role="tab" aria-controls="messages">Scarf</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab" aria-controls="settings">Pants</a>
      </div>
    </div>
    <!-- category tablist starts -->
    <div class="col-sm-12 col-md-9">
      <!-- product search bar starts -->
      <div class="row justify-content-start align-items-center search-bar mb-3">
        <div class="col-12 col-md-8 col-lg-6">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-1 mt-1 mt-md-0">
          <button class="btn btn-dark search-btn" type="submit">Search</button>
        </div>
      </div>
      <!-- product search bar ends -->
      <!-- product card list starts -->
      <div class="row row-cols-1 row-cols-lg-3 justify-content-start mb-5">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">
          <div class="card text-left">
            <img class="card-img-top pt-3 px-3" [src]="product.image" alt="Card image cap">
            <div class="card-body border-top mt-3">
              <h5 class="card-title font-weight-bold">{{product.name}}</h5>
              <p class="card-text text-secondary">{{product.description}}</p>
              <p class="card-text font-weight-bolder text-lg">${{product.price}}/piece</p>
            </div>
            <a class="card-footer more-btn text-center" [routerLink]="['/product', product.id]">
              KNOW MORE
            </a>
          </div>
        </div>
      </div>
      <!-- product card list ends -->
    </div>
    <div class="col-md-12">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<app-footer></app-footer>
