.list-group-item-action{
	transition: all 0.5s;
	text-align: center;
}

.list-group-item-action.active{
	background: var(--dark-color);
	border: 1px solid var(--dark-color);
}

.list-group-item-action:hover{
	color: var(--primary-color);
	cursor: pointer;
}


.page-link{
	color: var(--dark-color);
}

.card {
	height: 33rem;
}

.card-img-top {
	height: 60%;
	object-fit: contain;
}

.more-btn {
	background: var(--dark-color);
	color: white;
	cursor: pointer;
	transition: all 0.5s;
	border: 1px solid var(--dark-color);

	&:hover{
		background: white;
		color: var(--primary-color);
		border: 1px solid var(--primary-color);
	}

}

.search-btn input{
	padding: 5px 10px;
	background: var(--dark-color);
	color: white;
	border: none;
	border-radius: 5px;
}
