@import '../../../assets/css/variables.scss';

:host {
	::ng-deep {
		.filter-container {
			background-color: white;
			border-right: 1px solid $secondary-color;
			padding: 0;

			h3 {
				font-size: 1.35rem;
				padding: 1em;
				margin: 0;
				border-bottom: 1px solid $secondary-color;
			}

			.p-accordion {
				.p-accordion-tab {
					box-shadow: none;
					border-bottom: 1px solid $secondary-color;

					.p-accordion-header {
						.p-accordion-header-link {
							font-size: 0.9rem;
							text-transform: uppercase;
							font-weight: 500;
							padding: 1em;
						}
					}
	
					.p-accordion-content {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
