:host {
  ::ng-deep {
    .loader {
      position: fixed;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      z-index: 100000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .company-logo {
      width: 250px;
      height: auto;
      margin-bottom: 1.5em;

      img {
        width: 100%;
      }
    }

    p-progressbar {
      width: 250px;
      height: 10px;

      .p-progressbar {
        width: 100%;
      }
    }
  }
}
