<div class="loader">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    style="
      margin: auto;
      background: none;
      display: block;
      shape-rendering: auto;
    "
    width="240px"
    height="240px"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid meet"
  >
    <circle
      cx="50"
      cy="50"
      fill="none"
      stroke="#cc9933"
      stroke-width="3"
      r="19"
      stroke-dasharray="89.5353906273091 31.845130209103033"
      transform="rotate(15.9452 50 50)"
    >
      <animateTransform
        attributeName="transform"
        type="rotate"
        repeatCount="indefinite"
        dur="0.5376344086021505s"
        values="0 50 50;360 50 50"
        keyTimes="0;1"
      ></animateTransform>
    </circle>
  </svg>
</div>
