<div class="admin-category-adder">
  <app-admin-header></app-admin-header>
  
  <div class="admin-data-table categories-table container p-my-5">
    <p-toast></p-toast>
    
    <div class="card">
      <p-toolbar styleClass="toolbar shadow p-mb-4">
        <ng-template pTemplate="left">
          <h1 class="toolbar__title m-md-0 mb-3">
            Manage Categories
          </h1>
        </ng-template>
    
        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help mr-2"
          ></button>
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success p-mr-2"
            (click)="openNew()"
          ></button>
          <!-- <button
            pButton
            pRipple
            label="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedCategories()"
            [disabled]="!selectedCategories || !selectedCategories.length"
          ></button> -->
        </ng-template>
      </p-toolbar>
    
      <p-table
        #dt
        [value]="categories"
        [rows]="25"
        [rowsPerPageOptions]="[25,50, 100]"
        [paginator]="true"
        [globalFilterFields]="[
          'name',
          'description'
        ]"
        [(selection)]="selectedCategories"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="admin-data-table-searchbar p-input-icon-right">
              <i class="admin-data-table-searchbar__icon pi pi-search"></i>
              <input
                class="admin-data-table-searchbar__input"
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search category name and description"
                pInputText
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th style="width: 3rem;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th pSortableColumn="name">
              CATEGORY <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>
              DESCRIPTION
            </th>
            <!-- <th pSortableColumn="productCount">
              NO. OF PRODUCTS<p-sortIcon field="productCount"></p-sortIcon>
            </th> -->
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="category"></p-tableCheckbox>
            </td> -->
            <td>
              <span class="p-column-title">
                CATEGORY
              </span>
              {{ category.name }}
            </td>
            <td>
              <span class="p-column-title">
                DESCRIPTION
              </span>
              {{ category.description | limitLength: 50 }}...
            </td>
            <!-- <td>
              <span class="p-column-title">
                NO. OF PRODUCTS
              </span>
              {{ category.productCount }}
            </td> -->
            <td class="admin-data-table__tools"> 
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success p-mr-2"
                (click)="editCategory(category)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteCategory(category)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{ categories ? categories.length : 0 }} categories.
          </div>
        </ng-template>
      </p-table>
    </div>
    
    <form #categoryForm="ngForm">
      <p-dialog
        [(visible)]="categoryDialog"
        [style]="{ width: '450px' }"
        header="Category Details"
        [modal]="true"
        styleClass="p-fluid"
      >
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="label">Category Name</label>
            <input
              type="text"
              pInputText
              id="name"
              name="name"
              [(ngModel)]="category.name"
              required
              autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !category.name"
              >Category Name is required.</small
            >
          </div>
          <div class="p-field">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              pInputTextarea
              [(ngModel)]="category.description"
              required
              rows="3"
              cols="20"
            ></textarea>
          </div>
        </ng-template>
      
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text p-button-danger mt-2"
            (click)="hideDialog()"
          ></button>
          <button
            pButton
            pRipple
            label="Add"
            icon="pi pi-check"
            class="p-button-text p-button-success mt-2"
            (click)="saveCategory()"
            [disabled]="false && !categoryForm.form.valid"
          ></button>
        </ng-template>
      </p-dialog>
    </form>
    
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
  
  <app-footer></app-footer>
</div>