:host {
  .add-new-custom-form {
    background-color: white;
  }

  ::ng-deep {
    .p-inputwrapper-filled {
      width: 100%;
    }

    .input-group__input {
      width: 100%;
      
      .p-multiselect {
        width: 100%;
      }
    }


    .p-corner-all {
      border-radius: 6px;
    }

    .p-multiselected-item-token,
    .p-multiselected-empty-token {
      padding: 2px 4px;
      margin: 0 0.286em 0 0;
      display: inline-block;
      vertical-align: middle;
      height: 1.857em;
    }

    .p-multiselected-item-token {
      background: var(--primary);
      color: #ffffff;
    }

    .p-multiselected-empty-token {
      background: #d95f00;
      color: #ffffff;
    }
  }
}
