<div [formGroup]="formGroup" class="input-group">
  <p-multiSelect
    [options]="tags"
    formControlName="tags"
    defaultLabel="Select Product Tags"
    optionLabel="name"
    dataKey="id"
    class="input-group__input"
  >
    <ng-template let-value pTemplate="selectedItems">
      <div
        class="p-multiselected-item-token p-corner-all"
        *ngFor="let tag of formGroup.value.tags"
      >
        <div>{{tag.name}}</div>
      </div>
      <div
        *ngIf="!value || value.length === 0"
        class="p-multiselected-empty-token p-corner-all"
      >
        Select Tags
      </div>
    </ng-template>
    <ng-template let-tag pTemplate="item">
      <div style="font-size:14px;float:right;margin-top:4px">
        <div>{{ tag.value.name }}</div>
      </div>
    </ng-template>
  </p-multiSelect>
</div>
