@import 'src/assets/css/variables.scss';

.form-group {
  width: auto;
}

.form-group__label {
  display: block;
}

.color-preview {
  width: 2rem;
  height: 100%;
  border: none;
}

.color-picker-input {
  z-index: 11;
}
