<div [formGroup]="formGroup">
  <h4 class="customization-question">
    <label for="text-{{ id }}" class="customization-question__text">
      {{ option.title }}
    </label>
    <sup class="customization-question__req-badge" *ngIf="requiredInp">
      *
    </sup>
  </h4>
  <div class="customization-input-container">
    <div 
      *ngIf="option.meta.isChained; else withEmit"
      class="customization-input p-field p-input-filled"
    >
      <textarea
        class="customization-input__input"
        id="text-{{ id }}"
        formControlName="input"
        placeholder="{{ option.label }}"
        [autoResize]="true"
        rows="10"
        pInputTextarea
      ></textarea>
    </div>
    <ng-template #withEmit>
      <div class="customization-input p-field p-input-filled">
        <textarea
          class="customization-input__input"
          id="text-{{ id }}"
          formControlName="input"
          placeholder="{{ option.label }}"
          [autoResize]="true"
          (input)="emitValue($event)"
          rows="10"
          pInputTextarea
        ></textarea>
      </div>
    </ng-template>
  </div>
</div>
