<div class="contact-section">
    <div class="address">
        <div class="icon">
            <i class="fas fa-home"></i>
        </div>
        <div class="title">VISIT US</div>
        <div class="content">{{data.addressText}}</div>
        <div class="value">{{ data.address }}</div>
    </div>
    <div class="phone">
        <div class="icon">
            <i class="fas fa-phone"></i>
        </div>
        <div class="title">CALL US</div>
        <div class="content">{{data.phoneText}}</div>
        <div class="value">{{ data.phone }}</div>
    </div>
    <div class="message">
        <div class="icon">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="title">MESSAGE US</div>
        <div class="content">{{data.emailText}}</div>
        <div class="value">{{ data.email }}</div>
    </div>
</div>