@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .preview {
      max-width: 95%;
      height: 100%;

      &__img {
        margin-bottom: 1em;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-meta {
        display: flex;
        justify-content: center;
      }
    }

    .p-dialog-mask {
      height: 100vh;

      &.p-component-overlay {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }

    .preview-dialog.p-dialog {
      height: 100%;
      width: 100%;
      max-height: none;
      box-shadow: none;

      .p-dialog-header {
        background: transparent;
        padding-bottom: 0;

        &-icon {
          color: white;
        }
      }

      .preview__img {
        height: 85%;
      }

      .preview-details {
        flex-wrap: wrap;

        &__name {
          width: 100%;
          text-align: center;
        }

        &__link {
          background-color: white;
          color: $dark-color;
          border-radius: 4px;
        }
      }

      .p-dialog-content {
        overflow-y: hidden;
        background: transparent;
        color: white;
      }
    }
  }
}
