<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  styleClass="preview-dialog"
  closeIcon="pi pi-arrow-left"
  [resizable]="false"
  [blockScroll]="false"
  [dismissableMask]="true"
  (onHide)="emitHide()"
>
  <div *ngIf="file" class="preview p-d-flex p-flex-column p-ai-between">
    <div class="preview__img p-flex-grow">
      <img [src]="file.file" alt="File alt text" />
    </div>
    <div class="preview-details p-d-flex p-jc-center p-ai-center">
      <div class="preview-details__name font-headline6">
        {{ file.name }}
      </div>
      <div
        [@pulse]="copySuccess"
        (@pulse.done)="copySuccess = false"
        class="preview-details__link p-d-flex p-ai-center p-ml-2 p-p-1"
      >
        {{ file.file }}
        <p-button
          label="copy"
          styleClass="p-button-plain p-button-text p-button-sm"
          icon="pi pi-copy"
          iconPos="right"
          (onClick)="copyLinkToClipboard()"
        ></p-button>
      </div>
    </div>
  </div>
</p-dialog>
