<div [formGroup]="formGroup" class="p-fluid">
  <h4 class="customization-question">
    <span class="customization-question__text">
      {{option.title}}
    </span>
    <sup *ngIf="requiredInp"
      class="customization-question__req-badge"
    >
      *
    </sup>
  </h4>
  <div class="customization-input-container p-field p-input-filled">
    <p-dropdown
      class="customization-input"
      [options]="dropdownList"
      formControlName="input"
      (onChange)="emitValue($event)"
    ></p-dropdown>
  </div>
</div>
