<div [formGroup]="formGroup">
  <h5 class="customization-question">
    <span class="customization-question__text">
      {{option.title}}
    </span>
    <sup *ngIf="requiredInp"
      class="customization-question__req-badge"
    >
      * required
    </sup>
  </h5>
  <div class="customization-input-container">
    <p-dropdown
      class="customization-input"
      [options]="dropdownList"
      formControlName="input"
      (onChange)="emitValue($event)"
    ></p-dropdown>
  </div>
</div>
