<div class="footer">
    <div class="logo">
        <img src="./../../../assets/images/logo.png" alt="logo">
    </div>

    <div class="navigation">
        <ul>
            <li [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a>Home</a>
            </li>
            <li [routerLink]="['/about']" routerLinkActive="active">
                <a>About Us</a>
            </li>
            <li>
                <a>Contact Us</a>
            </li>
            <li>
                <a>Shop</a>
            </li>
            <li>
                <a>Sign In</a>
            </li>
        </ul>
    </div>

    <div class="social">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="far fa-envelope"></i></a></li>
        </ul>
    </div>
</div>

