<div class="footer mt-5">
    <div class="logo">
        <img src="./../../../assets/images/logo.png" alt="logo">
    </div>

    <div class="navigation">
        <ul>
            <li [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a>Home</a>
            </li>
            <li [routerLink]="['/about']" routerLinkActive="active">
                <a>About Us</a>
            </li>
            <li [routerLink]="['/contact']" routerLinkActive="active">
                <a>Contact Us</a>
            </li>
            <li  [routerLink]="['/shop']" routerLinkActive="active">
                <a>Shop</a>
            </li>
            <ng-container *ngIf="!auth.isAuthenticated">
                <li [routerLink]="['/signin']" routerLinkActive="active">
                    <a>Sign In</a>
                </li>
                <li [routerLink]="['/signup']" routerLinkActive="active">
                    <a>Sign Up</a>
                </li>
            </ng-container>
            <ng-container *ngIf="auth.isAuthenticated">
                <li [routerLink]="['/user-profile']" routerLinkActive="active">
                    <a>Profile</a>
                </li>
                <li [routerLink]="['/logout']" routerLinkActive="active">
                    <a>Logout</a>
                </li>
            </ng-container>
        </ul>
    </div>

    <div class="social">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="far fa-envelope"></i></a></li>
        </ul>
    </div>
</div>

