<!-- add color option -->
<div [formGroup]="formGroup" class="product-option">
  <h4 class="customization-question">
    <span class="customization-question__text">
      {{ option.title }}
    </span>
    <sup class="customization-question__req-badge" *ngIf="requiredInp">
      *
    </sup>
  </h4>
  <div class="customization-input-container color-list">
    <p-selectButton 
      [options]="option.inputs"
      formControlName="input"
      (onChange)="emitValue($event)"
    >
      <ng-template let-item>
        <span>
          {{ item.label }}
        </span>
        <span class="color-preview" [style.background]="item.value">
        </span>
      </ng-template>
    </p-selectButton>
  </div>
</div>
