<!-- add color option -->
<ng-container [formGroup]="formGroup">
  <div>
    <h5 class="customization-title">
      {{option.title}}
      <sup *ngIf="requiredInp">
        * required
      </sup>
    </h5>
    <div class="color-list d-flex row justify-content-start">
      <div *ngFor="let input of option.inputs; let colorInd = index" class="color-container col customization-input mb-2">
        <input
          formControlName="input"
          class="sr-only" type="radio"
          id="color-{{ids[colorInd]}}"
          value="{{input.value}}"
          [attr.checked]="colorInd === 0 ? 'checked' : null"
        >
        <label for="color-{{ids[colorInd]}}" class="form-check-label">
          <div class="color-preview fas fa-circle" [style.color]="input.value"></div>
          <div class="color-name">{{input.label}}</div>
        </label>
      </div>
    </div>
  </div>
</ng-container>

