.card-body {
  border-top: 1px solid whitesmoke;
}

.customization-title {
}

.color-container {
  text-align: center;

  .color-preview {
    border: 5px solid transparent;
    border-radius: 50%;
  }
}

label {
  cursor: pointer;
}

input:checked~label {
  .color-preview {
    border-color: var(--primary);
  }
}
