<div class="navbar d-flex justify-content-start align-items-center py-3">
  <div class="nav-brand">
    <a [routerLink]="['/']">
      <img src="{{logo}}" alt="Company Logo" srcset="">
    </a>
  </div>
  <div class="nav-items d-flex justify-content-between align-items-center flex-grow-1">
    <div class="nabar__start navbar__section">
      <ul>
        <li *ngFor="let item of navStartItems"
          class="navbar-item mr-3"
        >
          <a href="{{item.routerLink}}"
            class="navbar-item__link"
          >
            {{item.label}}
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar__center navbar__section flex-grow-1">
      <ul>
        <li class="search-bar p-input-icon-right mr-5">
          <i class="pi pi-search"></i>
          <input class="search-bar__input" type="text" placeholder="Search" pInputText />
        </li>
      </ul>
    </div>
    <div class="navbar__end navbar__section">
      <ul>
        <li>
          <p-overlayPanel styleClass="account-overlay" #accountControls>
            <ng-template pTemplate>
              <ng-container *ngIf="user; else notAuth">
                <div>
                  <a class="account-overlay__item" [routerLink]="['/profile']">
                    Profile
                  </a>
                </div>
                <div>
                  <a class="account-overlay__item" [routerLink]="['/orders']">
                    Orders
                  </a>
                </div>
                <div *ngIf="user.role === 'admin'">
                  <a class="account-overlay__item" [routerLink]="['/admin']">
                    Admin
                  </a>
                </div>
                <div>
                  <a class="account-overlay__item" [routerLink]="['/logout']">
                    Log Out
                  </a>
                </div>
              </ng-container>
              <ng-template #notAuth>
                <div>
                  <a class="account-overlay__item" [routerLink]="['/signup']">
                    Sign Up
                  </a>
                </div>
                <div>
                  <a class="account-overlay__item" [routerLink]="['/signin']">
                    Sign In
                  </a>
                </div>
              </ng-template>
            </ng-template>
          </p-overlayPanel>
          <button
            type="button"
            pButton
            icon="pi pi-user"
            (click)="accountControls.toggle($event)"
          >
            <span class="sr-only">Show account controls</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
