<nav class="navigation-bar">
  <p-menubar [model]="navStartItems">
    <ng-template pTemplate="start">
      <a class="navigation-bar__brand" routerLink="/">
        <img src="{{ logo }}" class="p-mr-2" />
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <span class="p-input-icon-right nav-searchbar">
        <i class="pi pi-search"></i>
        <input 
          class="nav-searchbar__input"
          type="text" 
          [(ngModel)]="searchValue"
          placeholder="Search"
          pInputText
        >        
      </span>
      <a
        routerLink="/cart"
        type="button"
        icon="pi pi-shopping-cart"
        iconPos="right"
        label="Cart"
        class="p-button-success mr-2"
        pButton
      ></a>
      <button
        class="account-btn"
        type="button"
        pButton
        icon="pi pi-user"
        (click)="accountPopup.toggle($event)"
      ></button>
      <p-overlayPanel styleClass="popup-box" class="account-popup" #accountPopup>
        <ng-template pTemplate>
          <ul>
            <ng-template #notLogin>
              <li class="popup-box__item">
                <a
                  [routerLink]="['/signin']"
                  [queryParams]="{return: currentUrl}"
                >
                  Sign In
                </a>
              </li>
              <li class="popup-box__item">
                <a
                  [routerLink]="['/signup']"
                  [queryParams]="{return: currentUrl}"
                >
                  Sign Up
                </a>
              </li>
            </ng-template>
            <ng-container *ngIf="user; else notLogin">
              <li class="popup-box__item" 
                *ngIf="isAdmin()"
              >
                <a
                  [routerLink]="['/admin']"
                >
                  Admin Dashboard
                </a>
              </li>
              <li class="popup-box__item">
                <a
                  [routerLink]="['/profile']"
                >
                  Profile
                </a>
              </li>
              <li class="popup-box__item">
                <a
                  [routerLink]="['/orders']"
                >
                  Orders
                </a>
              </li>
              <li class="popup-box__item">
                <a
                  [routerLink]="['/logout']"
                  [queryParams]="{return: currentUrl}"
                >
                  Logout
                </a>
              </li>
            </ng-container>
          </ul>
        </ng-template>
      </p-overlayPanel>
    </ng-template>
  </p-menubar>
</nav>
