@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .navigation-bar__brand--sm {
      display: none;
    }
    
    @media (max-width: 960px) {
      .navigation-bar__brand {
        display: none;
      }
      .navigation-bar__brand--sm {
        display: inline-block;
        max-width: 100px;

        img {
          width: 100%;
        }
      }
    }
  }
}