@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .view-switcher {
      height: 42px;
    }

    .wrapper-div {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
    }

    .preview-wrapper {
      flex-grow: 1;
      position: relative;
    }

    .preview-canvas {
      position: absolute;
      left: 0;
      top: 0;
    }

    .hide {
      visibility: hidden;
    }
  }
}
