:host {
  ::ng-deep {
    .nav-searchbar {
      display: flex;
      flex-grow: 1;
      margin: 0 1.5em;
      position: relative;

      .nav-searchbar__input {
        width: 100%;
        padding-right: 100px;
        background-image: none;
        border-radius: 6px;
      }

      .search-btn {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
