@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .form-card {
      &.p-card {
        .p-card-header {
          padding: 1em;
          border-bottom: 1px solid $light-grey;

          h3 {
            margin: 0;
          }

          .p-progressbar {
            &-label {
              opacity: 0;
            }
          }
        }

        .p-card-footer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}