<div class="admin-tag-adder">
  <app-admin-header></app-admin-header>

  <div class="tags-table container p-my-5">
    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="toolbar shadow p-mb-4">
        <ng-template pTemplate="left">
          <h1 class="toolbar__title m-md-0 mb-3">Manage Tags</h1>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help mr-2"
          ></button>
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success p-mr-2"
            (click)="openNew()"
          ></button>
          <!-- <button
            pButton
            pRipple
            label="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedTags()"
            [disabled]="!selectedTags || !selectedTags.length"
          ></button> -->
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="tags"
        [rows]="25"
        [rowsPerPageOptions]="[25,50, 100]"
        [paginator]="true"
        [globalFilterFields]="['name', 'description']"
        [(selection)]="selectedTags"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="admin-data-table-searchbar p-input-icon-right">
              <i class="admin-data-table-searchbar__icon pi pi-search"></i>
              <input
                class="admin-data-table-searchbar__input"
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search name and description"
                pInputText
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th pSortableColumn="label">
              TAG <p-sortIcon field="label"></p-sortIcon>
            </th>
            <th>DESCRIPTION</th>
            <th pSortableColumn="productCount">
              NO. OF PRODUCTS<p-sortIcon field="productCount"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tag>
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="tag"></p-tableCheckbox>
            </td> -->
            <td>{{ tag.name }}</td>
            <td>...</td>
            <td class="admin-data-table__tools">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success p-mr-2"
                (click)="editTag(tag)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteTag(tag)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{ tags ? tags.length : 0 }} tags.
          </div>
        </ng-template>
      </p-table>
    </div>

    <form #tagForm="ngForm">
      <p-dialog
        [(visible)]="tagDialog"
        [style]="{ width: '450px' }"
        header="Tag Details"
        [modal]="true"
        styleClass="p-fluid"
      >
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="label">Tag Name</label>
            <input
              type="text"
              pInputText
              id="label"
              [(ngModel)]="tag.name"
              required
              autofocus
              name="label"
            />
            <small class="p-invalid" *ngIf="submitted && !tag.name">
              Tag Name is required.
            </small>
          </div>
          <div class="p-field">
            <label for="value">Tag Category</label>
            <p-dropdown
              [options]="categories"
              [(ngModel)]="parentCategory"
              [filter]="true"
              [showClear]="true"
              optionLabel="name"
              placeholder="Select a Category"
              required="true"
              name="category_id"
            >
              <ng-template pTemplate="selectedItem">
                <div *ngIf="parentCategory">
                  <div>{{ parentCategory.name }}</div>
                </div>
              </ng-template>
              <ng-template let-category pTemplate="item">
                <div>
                  {{ category.value.name }}
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="p-field">
            <label for="description">Description</label>
            <textarea
              id="description"
              pInputTextarea
              [(ngModel)]="tag.description"
              required
              rows="3"
              cols="20"
              name="description"
            ></textarea>
          </div>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text p-button-danger"
            (click)="hideDialog()"
          ></button>
          <button
            pButton
            pRipple
            label="Add"
            icon="pi pi-check"
            class="p-button-text p-button-success"
            (click)="saveTag()"
            [disabled]="!tagForm.form.valid"
          ></button>
        </ng-template>
      </p-dialog>
    </form>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>

  <app-footer></app-footer>
</div>
