<header>
  <nav class="navigation-bar">
    <p-menubar [model]="navStartItems">
      <ng-template pTemplate="start">
        <a class="navigation-bar__brand" routerLink="/">
          <img src="{{ logo }}" class="p-mr-2" />
        </a>
        <p-overlayPanel styleClass="category-dropdown" #categoryDropdown>
          <ng-template pTemplate>
            <app-category-dropdown
              [customCategories]="customCategoriesDropdownList"
              [stockCategories]="stockCategoriesDropdownList"
            ></app-category-dropdown>
          </ng-template>
        </p-overlayPanel>

        <button
          class="p-button p-button-text p-button-lg"
          type="text"
          label="Shop"
          (click)="toggleCategoryDropdown($event)"
          pButton
        ></button>
      </ng-template>
      <ng-template pTemplate="end">
        <span class="nav-searchbar p-input-filled">
          <p-button
            label="Search"
            styleClass="search-btn shadow p-button-sm"
            (onClick)="emitSearchString()"
          ></p-button>
          <input
            class="nav-searchbar__input p-inputtext-sm"
            type="text"
            [(ngModel)]="searchString"
            placeholder="Search"
            (keyup.enter)="emitSearchString()"
            pInputText
          />
        </span>
        <a
          routerLink="/cart"
          type="button"
          icon="pi pi-shopping-cart"
          iconPos="right"
          label="Cart"
          class="cart-btn p-button-success"
          pButton
          pRipple
        ></a>
        <p-avatar
          size="large"
          icon="pi pi-user"
          (click)="accountPopup.toggle($event)"
          pRipple
        ></p-avatar>
        <!-- <p-menu #accountPopup [popup]="true" [model]="accountItems"></p-menu> -->
        <p-overlayPanel
          styleClass="popup-box"
          class="account-popup"
          #accountPopup
        >
          <ng-template pTemplate>
            <div class="p-menu p-component p-menu-overlay">
              <ul class="p-menu-list p-reset">
                <ng-template #notLogin>
                  <li class="p-menuitem">
                    <a
                      class="p-menuitem-link"
                      [routerLink]="['/signin']"
                      [queryParams]="{ return: currentUrl }"
                    >
                      Sign In
                    </a>
                  </li>
                  <li class="p-menuitem">
                    <a
                      class="p-menuitem-link"
                      [routerLink]="['/signup']"
                      [queryParams]="{ return: currentUrl }"
                    >
                      Sign Up
                    </a>
                  </li>
                </ng-template>
                <ng-container *ngIf="user; else notLogin">
                  <li class="p-menuitem" *ngIf="hasDashboard()">
                    <a class="p-menuitem-link" [routerLink]="['/', user.role]">
                      {{ user.role | titlecase }} Dashboard
                    </a>
                  </li>
                  <li class="p-menuitem">
                    <a class="p-menuitem-link" [routerLink]="['/profile']">
                      Profile
                    </a>
                  </li>
                  <li class="p-menuitem">
                    <a class="p-menuitem-link" [routerLink]="['/orders']">
                      Orders
                    </a>
                  </li>
                  <li class="p-menuitem">
                    <a
                      class="p-menuitem-link"
                      [routerLink]="['/logout']"
                      [queryParams]="{ return: currentUrl }"
                    >
                      Logout
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </ng-template>
        </p-overlayPanel>
      </ng-template>
    </p-menubar>
  </nav>
</header>
