<div class="product-option-container">
  <!-- render the options  -->
  <app-product-options-color
    *ngIf="option.type === 'color'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
    (onChange)="catchValue($event)"
  >
  </app-product-options-color>
  <app-product-options-dropdown
    *ngIf="option.type === 'dropdown'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
    (onChange)="catchValue($event)"
  >
  </app-product-options-dropdown>
  <app-product-options-radio-btn
    *ngIf="option.type === 'radioBtn'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
    (onChange)="catchValue($event)"
  >
  </app-product-options-radio-btn>
  <app-product-options-question
    *ngIf="option.type === 'text'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
    (onChange)="catchValue($event)"
  >
  </app-product-options-question>

  <!-- render the chained options of each input  -->
  <div
    *ngFor="
      let chainedOption of chainedOptions().controls;
      let chainedInd = index
    "
    class="p-mt-5"
  >
    <app-product-options-radio-btn
      *ngIf="chainedOptionsRef[inputValue][chainedInd].type === 'radioBtn'"
      [option]="chainedOptionsRef[inputValue][chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-radio-btn>
    <app-product-options-question
      *ngIf="chainedOptionsRef[inputValue][chainedInd].type === 'text'"
      [option]="chainedOptionsRef[inputValue][chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-question>
    <app-product-options-color
      *ngIf="chainedOptionsRef[inputValue][chainedInd].type === 'color'"
      [option]="chainedOptionsRef[inputValue][chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-color>
    <app-product-options-dropdown
      *ngIf="chainedOptionsRef[inputValue][chainedInd].type === 'dropdown'"
      [option]="chainedOptionsRef[inputValue][chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-dropdown>
  </div>
</div>
