<div>
  <!-- render the options  -->
  <app-product-options-color
    *ngIf="option.type === 'color'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
  >
  </app-product-options-color>
  <app-product-options-dropdown
    *ngIf="option.type === 'dropdown'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
  >
  </app-product-options-dropdown>
  <app-product-options-radio-btn
    *ngIf="option.type === 'radioBtn'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
  >
  </app-product-options-radio-btn>
  <app-product-options-question
    *ngIf="option.type === 'text'"
    [option]="option"
    [requiredInp]="requiredInp"
    [formGroup]="formGroup"
  >
  </app-product-options-question>
  <!-- value: {{inputValue}} -->

  <!-- render the chained options of each input  -->
  <!-- <ng-container
    *ngFor="
      let chainedOption of chainedOptions().controls;
      let chainedInd = index
    "
  >
    <app-product-options-color
      *ngIf="option.inputs[inputValue].chainedOptions[chainedInd].type === 'color'"
      [option]="option.inputs[inputValue].chainedOptions[chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-color>
    <app-product-options-dropdown
      *ngIf="option.inputs[inputValue].chainedOptions[chainedInd].type === 'dropdown'"
      [option]="option.inputs[inputValue].chainedOptions[chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-dropdown>
    <app-product-options-radio-btn
      *ngIf="option.inputs[inputValue].chainedOptions[chainedInd].type === 'radioBtn'"
      [option]="option.inputs[inputValue].chainedOptions[chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-radio-btn>
    <app-product-options-question
      *ngIf="option.inputs[inputValue].chainedOptions[chainedInd].type === 'text'"
      [option]="option.inputs[inputValue].chainedOptions[chainedInd]"
      [requiredInp]="false"
      [formGroup]="chainedOption"
    >
    </app-product-options-question>
  </ng-container> -->
</div>
