<p-card>
  <p-table [value]="orderSummary">
    <ng-template pTemplate="header">
      <tr>
        <th>Specification</th>
        <th>Input</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attribute>
      <tr>
        <td>{{ attribute.attribute_label }}</td>
        <td>{{ attribute.input }}</td>
        <td>{{ attribute.attribute_price }}</td>
        <td>{{ quantity }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-grid">
        <div class="p-col-3">Total Price</div>
        <div class="p-col-3"></div>
        <div class="p-col-3"></div>
        <div class="p-col-3">{{ totalPrice | currency: "USD" }}</div>
      </div>
    </ng-template>
  </p-table>
</p-card>
