<div class="contact">
    <div class="content">
        <h2>CONTACT US</h2>
        <p>{{ data.description }}</p>
    </div>

    <div class="form">
        <form>
            <div class="input">
                <input type="text" placeholder="First Name">
            </div>
            <div class="input">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="input">
                <input type="email" placeholder="Email Adress">
            </div>
            <div class="input">
                <textarea name="comment" placeholder="Comments/Questions"></textarea>
            </div>
            <div class="input">
                <input type="submit" value="SEND">
            </div>
        </form>
    </div>
</div>