<app-admin-color-option-maker
  *ngIf="formArray.value[ind].type === 'color'"
  [formArray]="formArray"
  [formGroup]="option"
  [optionInd]="ind"
>
</app-admin-color-option-maker>
<app-admin-dropdown-option-maker
  *ngIf="formArray.value[ind].type === 'dropdown'"
  [formArray]="formArray"
  [formGroup]="option"
  [optionInd]="ind"
>
</app-admin-dropdown-option-maker>
<app-admin-radiobtn-option-maker
  *ngIf="formArray.value[ind].type === 'radioBtn'"
  [formArray]="formArray"
  [formGroup]="option"
  [optionInd]="ind"
>
</app-admin-radiobtn-option-maker>
