@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .empty-attr-msg {
      color: $dark-grey;
      text-align: center;
    }

    .attr-mgmt {
      .p-card {
        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1em 1em 0 1em;
        }

        &-content {
          padding: 0;
        }
      }
    }

    .hide-panel {
      display: none !important;
    }
  }
}

::ng-deep {
  /*
    style isolation is forced to not apply because
    of the need of drag and drop support
  */
  .attr-list-item {
    border: 1px solid $light-grey;
    border-radius: 4px;
    padding: 1em 1em 1em 0.5em;
    background-color: white;
    transition: box-shadow $transition-func;

    &:hover {
      box-shadow: $shadow-3;
    }

    &:not(:first-child) {
      margin-top: 1em;
    }

    &__thumb {
      border-radius: 4px;
      height: 70px;
      width: 70px;
      background: $light-color;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    &__drag-area {
      align-self: normal;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    &__content {
      height: 100%;
      flex-grow: 1;

      &:hover {
        cursor: pointer;
      }

      &__label {
        font-weight: 500;
      }
    }
  }
}
