<div class="{{ styleClass }}">
  <div *ngIf="showAttrFormPanel; else variantList" class="attribute-crud">
    <app-admin-product-attr-crud-form
      [attributeForm]="activeAttrForm"
      (onClose)="hideAttrCrudForm()"
      (onDelete)="removeAttribute(activeAttrFormIndex)"
    ></app-admin-product-attr-crud-form>
  </div>
  <ng-template #variantList>
    <div class="attr-mgmt">
      <p-card [formGroup]="productForm">
        <ng-template pTemplate="header">
          <div class="p-card-title">variants</div>
          <div class="attr-mgmt__tools">
            <p-button
              styleClass="p-button-secondary"
              label="add"
              icon="pi pi-plus"
              iconPos="right"
              (onClick)="addAttribute()"
            ></p-button>
          </div>
        </ng-template>
        <div
          class="attr-list"
          formArrayName="attributes"
          cdkDropList
          [cdkDropListData]="attributes().value"
          (cdkDropListDropped)="handleDragSort($event)"
        >
          <p *ngIf="!attributes().length" class="empty-attr-msg">
            Add variants to see them here
          </p>
          <div
            *ngFor="let attr of attributes().value; index as attrIndex"
            class="attr-list-item p-d-flex p-ai-center"
            cdkDrag
            cdkDragBoundary=".attr-list"
            cdkDragLockAxis="y"
          >
            <div class="attr-list-item__drag-area p-mr-1 p-pb-3" cdkDragHandle>
              <i class="pi pi-sort"></i>
            </div>
            <div
              class="attr-list-item__thumb p-d-flex p-ai-center p-jc-center p-mr-2"
            >
              <img
                *ngIf="attr?.thumbnail.src; else noThumb"
                [src]="attr?.thumbnail.src"
                [alt]="attr?.thumbnail.alt_text"
              />
              <ng-template #noThumb>
                <i class="pi pi-image"></i>
              </ng-template>
            </div>
            <div
              class="attr-list-item__content p-mr-2"
              (click)="editAttribute(attrIndex)"
            >
              <div class="attr-list-item__content__label p-mb-2">
                {{ attr.label }}
              </div>
              <div
                *ngIf="!attr.is_attribute_group"
                class="attr-list-item__content__info"
              >
                <span class="p-mr-2">
                  Cost:
                  {{ attr.cost | currency: 'USD':'symbol':'2.2-2' }}
                </span>
                <span>
                  Price: {{ attr.price | currency: 'USD':'symbol':'2.2-2' }}
                </span>
              </div>
            </div>
            <div class="attr-list-item__tools">
              <p-button
                styleClass="p-button-danger p-button-text"
                icon="pi pi-trash"
                (onClick)="removeAttribute(attrIndex)"
              ></p-button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </ng-template>
</div>
