<div class="{{ styleClass }}">
  <div *ngIf="showVariantFormPanel; else variantList" class="variant-crud">
    <app-admin-product-variant-crud-form
      [variantForm]="activeVariantForm"
      [showVariantGroupSwitch]="true"
      (onClose)="hideVariantCrudForm()"
      (onDelete)="removeVariant(activeVariantFormIndex)"
    ></app-admin-product-variant-crud-form>
  </div>
  <ng-template #variantList>
    <div class="variant-mgmt">
      <p-card [formGroup]="productForm">
        <ng-template pTemplate="header">
          <div class="p-card-title">variants</div>
          <div class="variant-mgmt__tools">
            <p-button
              styleClass="p-button-secondary"
              label="add"
              icon="pi pi-plus"
              iconPos="right"
              (onClick)="addVariant()"
            ></p-button>
          </div>
        </ng-template>
        <div
          class="variant-list"
          formArrayName="variants"
          cdkDropList
          [cdkDropListData]="variants().value"
          (cdkDropListDropped)="handleDragSort($event)"
        >
          <p *ngIf="!variants().length" class="empty-variant-msg">
            Add variants to see them here
          </p>
          <div
            *ngFor="let variant of variants().value; index as variantIndex"
            class="variant-list-item p-d-flex p-ai-center"
            cdkDrag
            cdkDragBoundary=".variant-list"
            cdkDragLockAxis="y"
          >
            <div
              class="variant-list-item__drag-area p-mr-1 p-pb-3"
              cdkDragHandle
            >
              <i class="pi pi-sort"></i>
            </div>
            <div
              class="variant-list-item__thumb p-d-flex p-ai-center p-jc-center p-mr-2"
            >
              <img
                *ngIf="variant?.thumbnail.src; else noThumb"
                [src]="variant?.thumbnail.src"
                [alt]="variant?.thumbnail.alt_text"
              />
              <ng-template #noThumb>
                <i class="pi pi-image"></i>
              </ng-template>
            </div>
            <div
              class="variant-list-item__content p-mr-2"
              (click)="editVariant(variantIndex)"
            >
              <div class="variant-list-item__content__label p-mb-2">
                {{ variant.label }}
              </div>
              <div class="variant-list-item__content__info">
                <span class="p-mr-2">
                  Cost:
                  {{ variant.base_cost | currency: 'USD':'symbol':'2.2-2' }}
                </span>
                <span>
                  Price:
                  {{ variant.base_price | currency: 'USD':'symbol':'2.2-2' }}
                </span>
              </div>
            </div>
            <div class="variant-list-item__tools">
              <p-button
                styleClass="p-button-danger p-button-text"
                icon="pi pi-trash"
                (onClick)="removeVariant(variantIndex)"
              ></p-button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </ng-template>
</div>
