<div class="signup-page">
  <app-header></app-header>

  <div class="p-grid p-nogutter p-flex-row-reverse">
    <div class="p-col-12 p-lg-6">
      <div class="right-panel p-d-flex p-flex-column">
        <p-steps
          [model]="formSteps"
          [activeIndex]="currentFormStep"
          styleClass="p-shadow-24"
        ></p-steps>
        <div class="right-panel-content">
          <h1>
            Sign Up
            <br />
            To Assertive Creativity
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            architecto repellendus et ducimus laboriosam temporibus natus culpa.
            Libero itaque, doloribus inventore quibusdam enim quidem. Ipsa saepe
            mollitia consequatur eum autem?
          </p>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-lg-6">
      <!-- personal details form starts -->
      <p-card
        *ngIf="currentFormStep === 0"
        styleClass="signup-form-card"
      >
        <p-header>
          <h2 class="signup-form-card-title">
            Personal Details
          </h2>
        </p-header>
        <form
          #personalDetailsForm="ngForm"
          (ngSubmit)="signup()"
          class="signup-form p-fluid"
        >
          <div class="personal-details-form p-fluid p-formgrid p-grid">
            <div class="p-field p-input-filled p-col-12 p-md-6">
              <label for="firstname">
                Firstname
                <sup>*</sup>
              </label>
              <input
                #firstname="ngModel"
                [(ngModel)]="newUser.first_name"
                id="firstname"
                name="firstname"
                type="text"
                placeholder="First Name"
                required
                pInputText
              />
              <small
                [hidden]="firstname.valid || firstname.pristine"
                id="firstname-help"
                class="p-invalid form-error-message"
              >
                First name is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-6">
              <label for="lastname">
                Lastname
                <sup>*</sup>
              </label>
              <input
                #lastname="ngModel"
                [(ngModel)]="newUser.last_name"
                id="lastname"
                name="lastname"
                type="text"
                required
                placeholder="Last Name"
                pInputText
              />
              <small
                [hidden]="lastname.valid || lastname.pristine"
                id="lastname-help"
                class="p-invalid form-error-message"
              >
                Last name is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-6">
              <label for="email">
                Email
                <sup>*</sup>
              </label>
              <input
                #email="ngModel"
                [(ngModel)]="newUser.email"
                id="email"
                name="email"
                type="email"
                [email]="true"
                placeholder="Eg: person@example.com"
                required
                pInputText
              />
              <small
                [hidden]="email.valid || email.pristine"
                id="email-help"
                class="p-invalid form-error-message"
              >
                Email is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-6">
              <label for="phone">
                Phone
                <sup>*</sup>
              </label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">+1</span>
                <p-inputMask
                  inputId="phone"
                  #phone="ngModel"
                  [(ngModel)]="newUser.phone"
                  styleClass="phone-input p-input-filled"
                  name="phone"
                  type="text"
                  mask="999-999-9999"
                  placeholder="999-999-9999"
                  required
                ></p-inputMask>
              </div>
              <small
                [hidden]="phone.valid || phone.pristine"
                id="phone-help"
                class="p-invalid form-error-message"
              >
                Phone number is required
              </small>
            </div>

            <div class="p-field p-col-12 p-md-6 p-input-filled">
              <label for="password">
                Password
                <sup>*</sup>
              </label>
              <input
                #password="ngModel"
                [(ngModel)]="newUser.password"
                minlength="8"
                id="password"
                name="password"
                type="password"
                placeholder="Enter Password"
                required
                pInputText
              />
              <small
                *ngIf="!password.pristine && password.errors &&  password.errors.required"
                id="password-help"
                class="p-invalid form-error-message"
              >
                Password is required
              </small>
              <small
                *ngIf="!password.pristine && password.errors &&  password.errors.minlength"
                class="p-invalid form-error-message"
              >
                Password must be at least 8 characters long
              </small>
            </div>

            <div class="p-field p-col-12 p-md-6 p-input-filled">
              <label for="confirm-password">
                Confirm Password
                <sup>*</sup>
              </label>
              <input
                #confirmPassword="ngModel"
                [(ngModel)]="password_confirm"
                id="confirm-password"
                name="confirm-password"
                type="password"
                placeholder="Confirm Password"
                required
                pInputText
              />
              <small
                [hidden]="
                  newUser.password === password_confirm ||
                  confirmPassword.pristine
                "
                id="confirm-password-help"
                class="p-invalid form-error-message"
              >
                Passwords do not match
              </small>
            </div>

            <div class="p-field p-col-12 p-input-filled">
              <label for="profession">
                Profession
                <sup>*</sup>
              </label>
              <input
                #profession="ngModel"
                [(ngModel)]="newUser.profession"
                id="profession"
                name="profession"
                type="text"
                placeholder="Profession"
                required
                pInputText
              />
              <small
                [hidden]="profession.valid || profession.pristine"
                id="profession-help"
                class="p-invalid form-error-message"
              >
                Profession is required
              </small>
            </div>

            <div class="p-field p-col-12">
              <p-button
                [disabled]="!personalDetailsForm.valid || newUser.password !== password_confirm"
                styleClass="p-button-lg p-shadow-12"
                label="Proceed"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="currentFormStep = 1"
              ></p-button>
            </div>
          </div>
        </form>
      </p-card>
      <!-- personal details form ends -->


      <!-- company details form starts -->
      <p-card
        *ngIf="currentFormStep === 1"
        styleClass="signup-form-card"
      >
        <p-header>
          <h2 class="signup-form-card-title">
            Company Details
          </h2>
        </p-header>
        <form
          #companyDetailsForm="ngForm"
          (ngSubmit)="signup()"
          class="signup-form p-fluid"
        >
          <div class="personal-details-form p-fluid p-formgrid p-grid p-jc-between">
            <div class="p-field p-input-filled p-col-12">
              <label for="company-name">
                Company Name
                <sup>*</sup>
              </label>
              <input
                #companyName="ngModel"
                [(ngModel)]="newUser.company_details.name"
                id="company-name"
                name="company-name"
                type="text"
                placeholder="Company Name"
                required
                pInputText
              />
              <small
                [hidden]="companyName.valid || companyName.pristine"
                id="company-name-help"
                class="p-invalid form-error-message"
              >
                Company name is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-7">
              <label for="building-name">
                Building Name
                <sup>*</sup>
              </label>
              <input
                #buildingName="ngModel"
                [(ngModel)]="newUser.company_details.building_name"
                id="building-name"
                name="building-name"
                type="text"
                placeholder="Building Name"
                required
                pInputText
              />
              <small
                [hidden]="buildingName.valid || buildingName.pristine"
                id="building-name-help"
                class="p-invalid form-error-message"
              >
                Building name is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-5">
              <label for="building-num">
                Building Number
                <sup>*</sup>
              </label>
              <p-inputNumber
                #buildingNum="ngModel"
                [(ngModel)]="newUser.company_details.building_number"
                inputId="building-num"
                name="building-num"
                placeholder="Building Number"
                [min]="0"
                [useGrouping]="false"
                min="0"
                required
              >
              </p-inputNumber>
              <small
                [hidden]="buildingNum.valid || buildingNum.pristine"
                id="building-num-help"
                class="p-invalid form-error-message"
              >
                Building Number is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12">
              <label for="street-addr">
                Street Address
                <sup>*</sup>
              </label>
              <input
                #streetAddr="ngModel"
                [(ngModel)]="newUser.company_details.street_name"
                id="street-addr"
                name="street-addr"
                type="text"
                required
                placeholder="Street Address"
                pInputText
              />
              <small
                [hidden]="streetAddr.valid || streetAddr.pristine"
                id="street-addr-help"
                class="p-invalid form-error-message"
              >
                Street Address is required
              </small>
            </div>

            <div class="p-field p-col-12 p-md-7 p-input-filled">
              <label for="city-locality">
                City/Locality
                <sup>*</sup>
              </label>
              <input
                #cityLocality="ngModel"
                [(ngModel)]="newUser.company_details.locality"
                id="city-locality"
                name="city-locality"
                type="text"
                placeholder="City/Locality"
                required
                pInputText
              />
              <small
                [hidden]="cityLocality.valid || cityLocality.pristine"
                id="city-locality-help"
                class="p-invalid form-error-message"
              >
                City/Locality is required
              </small>
            </div>

            <div class="p-field p-col-12 p-md-2 p-input-filled">
              <label for="state">
                State
                <sup>*</sup>
              </label>
              <input
                #state="ngModel"
                [(ngModel)]="newUser.company_details.province_abbr"
                id="state"
                name="state"
                type="text"
                [maxlength]="3"
                placeholder="State"
                required
                pInputText
              />
              <small
                [hidden]="state.valid || state.pristine"
                id="state-help"
                class="p-invalid form-error-message"
              >
                State is required
              </small>
            </div>

            <div class="p-field p-col-12 p-md-3 p-input-filled">
              <label for="zip">
                Zip Code
                <sup>*</sup>
              </label>
              <p-inputNumber
                #zipCode="ngModel"
                [min]="0"
                [minlength]="5"
                maxlength="5"
                [useGrouping]="false"
                [(ngModel)]="newUser.company_details.zip"
                inputId="zip"
                name="zip"
                placeholder="Zip Code"
                required
              >
              </p-inputNumber>
              <small
                *ngIf="!zipCode.pristine && zipCode.errors && zipCode.errors.required"
                id="zip-help"
                class="p-invalid form-error-message"
              >
                Zip Code is required
              </small>
              <small
                *ngIf="zipCode.errors && zipCode.errors.minlength"
                class="p-invalid form-error-message"
              >
                Zip Code must be 5 characters long
              </small>
            </div>

            <div class="p-field p-col-12 p-input-filled">
              <label for="country">
                Country
                <sup>*</sup>
              </label>
              <input
                #country="ngModel"
                [(ngModel)]="newUser.company_details.country"
                id="country"
                name="country"
                type="text"
                placeholder="Country"
                required
                pInputText
              />
              <small
                [hidden]="country.valid || country.pristine"
                id="country-help"
                class="p-invalid form-error-message"
              >
                Country is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-6">
              <label for="company-email">
                Email
                <sup>*</sup>
              </label>
              <input
                #companyEmail="ngModel"
                [(ngModel)]="newUser.company_details.email"
                id="company-email"
                name="company-email"
                type="email"
                [email]="true"
                placeholder="Eg: company@example.com"
                required
                pInputText
              />
              <small
                [hidden]="companyEmail.valid || companyEmail.pristine"
                id="company-email-help"
                class="p-invalid form-error-message"
              >
                Email is required
              </small>
            </div>

            <div class="p-field p-input-filled p-col-12 p-md-6">
              <label for="company-phone">
                Phone
                <sup>*</sup>
              </label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">+1</span>
                <p-inputMask
                  #companyPhone="ngModel"
                  [(ngModel)]="newUser.company_details.phone"
                  styleClass="phone-input p-input-filled"
                  name="company-phone"
                  type="text"
                  mask="999-999-9999"
                  placeholder="999-999-9999"
                  minlength="12"
                  maxlength="12"
                  required
                ></p-inputMask>
              </div>
              <small
                [hidden]="companyPhone.valid || companyPhone.pristine"
                id="company-phone-help"
                class="p-invalid form-error-message"
              >
                Phone number is required
              </small>
            </div>

            <div class="p-field p-col-3">
              <button 
                label="Back" 
                pButton 
                pRipple 
                type="button" 
                class="p-button-text p-button-lg"
                (click)="currentFormStep = 0"
              ></button>
            </div>

            <div class="p-field p-col-9">
              <p-button
                [disabled]="!companyDetailsForm.valid"
                styleClass="p-button-success p-button-lg p-shadow-12"
                label="Create Account"
                icon="pi pi-check"
                iconPos="right"
                (onClick)="signup()"
              ></p-button>
            </div>
          </div>
        </form>
      </p-card>
      <!-- company details form ends -->
    </div>
  </div>

  <app-footer></app-footer>

  <p-toast position="bottom-center"></p-toast>
</div>
