@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .signup-form-card {
      max-width: 550px;
      margin: 3em auto;

      .signup-form-card-title {
        font-size: 1.6rem;
        margin: 0;
        padding: 1rem;
      }

      .p-field {
        position: relative;
        margin-bottom: 2em;

        &:last-of-type {
          margin-bottom: 0;
        }

        .form-error-message {
          position: absolute;
          top: 100%;
          left: 0.5rem;
        }

        .phone-input {
          border-top-left-radius: 0;
          border-bottom-right-radius: 4px;
          width: 100%;
        }
      }
    }

    .right-panel {
      height: 100%;
      width: 100%;
      background-image: $bg-primary-transparent, 
        url("https://static.pexels.com/photos/33972/pexels-photo.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      padding: 2em;

      .p-steps {
        background-color: white;
        border-radius: 4px;
        padding: 1em;

        .p-steps-item {
          &:first-of-type {
            margin-right: 2em;
          }
        }
      }

      .right-panel-content {
        color: white;        
        margin-top: 5rem;

        h1 {
          font-size: 3rem;
          font-weight: 900;
          margin: 0;
        }
      }

      .right-panel-img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
