<app-header></app-header>

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Sign Up</h2>
                
                <form class="login-form">
                
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Full Name</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                        <input type="email" class="form-control" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="phone" class="text-uppercase">Phone Number</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="">
                    </div>


                    <div class="form-check">
                        <button type="submit" class="btn btn-login float-right">Signup</button>
                    </div>


                    <div> <a [routerLink]="['/signin']">Already have an account?</a> </div>
                </form>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                                alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>This is Heaven</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>