<div>
  <app-header *ngIf="author === 0; else adminHeader"></app-header>
  <ng-template #adminHeader>
    <app-admin-header></app-admin-header>
  </ng-template>
  <div *ngIf="order" class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1>Order {{order.id}}</h1>
      </div>
      <div class="col-12 col-md-4">
        <app-product-summary-card
          [name]="order.data.product_details.name"
          [description]="order.data.product_details.description"
          [totalPrice]="order.data.total_price"
          [image]="order.data.product_details.image"
        ></app-product-summary-card>
      </div>
      <div class="col-12 col-md-8">
        <app-order-summary-table
          [customFormsEntry]="order.data.custom_forms_entry"
        ></app-order-summary-table>
        <app-order-mail-list
          [mails]="mails"
          [orderId]="order.id"
          styleClass="mt-5"
        ></app-order-mail-list>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>