<div>
  <app-header></app-header>
  <div *ngIf="order" class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4">
        <app-product-summary-card
          [name]="order.name"
          [description]="order.description"
          [totalPrice]="order.totalPrice"
          [image]="order.image"
        ></app-product-summary-card>
      </div>
      <div class="col-12 col-md-8">
        <app-order-summary-table
          [order]="order"
        ></app-order-summary-table>
      </div>
      <div 
        *ngIf="mails; else messageBtn"
        class="col-12 mb-5">
        <h2 class="text-center">
          Messages
        </h2>
        <app-order-mail-list
          [mails]="mails"
          [mailThread]="order.mailThread"
        ></app-order-mail-list>
      </div>
      <ng-template #messageBtn>
        <div class="col-12 text-center my-5">
          <p-button
            label="Start Messaging"
          ></p-button>
        </div>
      </ng-template>
    </div>
  </div>
  <app-footer></app-footer>
</div>