@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .container {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .page-title {
      background: white;
      border-radius: 6px;
      border: 1px solid $light-grey;
      padding: 1em;
      
      h1 {
        font-weight: 500;
        margin: 0;
        margin-bottom: 0.5em;
      }
    }

    .admin-mail-tabview {
      .p-tabview {
        border-radius: 6px;

        &-panels {
          padding: 0;
          background-color: transparent;

          .p-card {
            box-shadow: none;
          }
        }
  
        &-nav {
          border-radius: 6px 6px 0 0;
          overflow: hidden;
          justify-content: space-around;

          li {
            flex-grow: 1;
            
            .p-tabview-nav-link {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}