<div>
  <app-admin-header *ngIf="adminMode; else header"></app-admin-header>
  <ng-template #header>
    <app-header></app-header>
  </ng-template>
  <div *ngIf="order" class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="page-title p-3 mb-3">
          <h1>Order {{order.id}}</h1>
          <p-progressBar [value]="orderProgress"></p-progressBar>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <app-product-summary-card
          [name]="order.data.is_custom_product ? order.data.product_details.name : order.data.product_details.product.name"
          [description]="order.data.is_custom_product ? order.data.product_details.description : order.data.product_details.product.description"
          [totalPrice]="order.data.total_price"
          [image]="order.data.product_details.image"
        ></app-product-summary-card>
      </div>
      <div class="col-12 col-md-8">
        <app-order-summary-table
          [customFormsEntry]="order.data.custom_forms_entry"
          [totalPrice]="order.data.total_price"
        ></app-order-summary-table>
        <p-tabView 
          *ngIf="adminMode; else notAdminMode"
          styleClass="mt-5"
        >
          <p-tabPanel header="Buyer">
            <app-order-mail-list
              [mails]="buyerMails"
              [receiverId]="order.buyer_id"
              [order]="order"
          ></app-order-mail-list>
          </p-tabPanel>
          <p-tabPanel header="Vendor">
            <app-order-mail-list
              [mails]="vendorMails"
              [receiverId]="order.seller_id"
              [order]="order"
            ></app-order-mail-list>
          </p-tabPanel>
      </p-tabView>
      <ng-template #notAdminMode>
        <app-order-mail-list
          [mails]="buyerMails"
          [order]="order"
          styleClass="mt-5"
        ></app-order-mail-list>
      </ng-template>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>