.product-img {
  top: 0;

  #product-indicator {
    // margin: 3em;
    min-height: 3rem;
  }
}

.content {
  // padding-top: 100px;

  h3 {
    font-size: 2em;
    font-weight: 600;
  }

  h4 {
    font-size: 1em;
    color: var(--primary-color);
  }

  .params {
    margin-top: 2em;
    margin-bottom: 10px;

    p {
      margin-bottom: 3px;
    }
  }

  .product-price {
    font-size: 1.75rem;
    font-weight: bolder;

  }

  @media (max-width: 768px) {
    // padding-top: 100px;
  }
}

.more {
  font-size: 0.9em;
  background: var(--dark-color);
  width: fit-content;
  margin: 5px 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.rating {
  margin-top: 30px;

  .total_rate {
    &:first-child {
      text-align: center;
    }
  }
}

.card {
  box-shadow: none;
}

.form-group {
  margin-top: 2em;
}

.btn--more-options {
  margin-top: 1em;
}

.customization-form {
  display: block;
}

.negotiate-form .card-body::nth-of-type(2n+1) {
  border-top: 1px solid grey;
}

.card-footer__btn {
  margin-left: 1em;
}

.product-img--form {
  max-width: 100%;
  max-height: 100%;
}

.object--contain {
  object-fit: contain;
}
