<div class="product-detail-component">
  <app-header></app-header>

  <div *ngIf="product && orderForm" class="container my-5">
    <div class="row mb-5">
      <div class="col-12 col-lg-4">
        <div class="product-img">
          <p-galleria
            [(value)]="image_set"
            [responsiveOptions]="responsiveOptions"
            [circular]="true"
            [showThumbnails]="false"
            [showItemNavigators]="true"
            [showItemNavigatorsOnHover]="true"
            [showThumbnailNavigators]="true ? image_set.length > 5 : false"
          >
            <ng-template pTemplate="item" let-item>
              <img [src]="item.src" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="justify-content-center">
                <img [src]="item.src" />
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card product-details shadow mt-4 mt-lg-0">
          <h1 class="product-details__name">
            {{ product.name }}
          </h1>
          <div class="card__content mt-3">
            <div class="product-details-section mt-2">
              <h2 class="product-details-section__title">Description</h2>
              <p>
                {{ product.description }}
              </p>
            </div>
            <div class="product-details-section product-detail__price mt-5">
              <h2 class="product-details-section__title">Price</h2>
              <p-table
                *ngIf="product.price_table_mode; else basePrice"
                [value]="product.price_table"
                styleClass="p-datatable-gridlines"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Price Group</th>
                    <th>Price Per Piece</th>
                    <th>Relation</th>
                    <th>Quantity</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-price>
                  <tr>
                    <td>{{ price.label }}</td>
                    <td>{{ price.price_per_piece | currency: "USD" }}</td>
                    <td>
                      <span *ngIf="price.relation === 'mte'; else elseRelation">
                        More than
                      </span>
                      <ng-template #elseRelation>
                        <span> Less than </span>
                      </ng-template>
                    </td>
                    <td>
                      {{ price.quantity }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <ng-template #basePrice>
                <span class="product-details__price-value">
                  {{ product.base_price | currency: "USD" }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="card__footer p-mt-5"></div>
        </div>
      </div>
    </div>

    <div 
      *ngIf="product.custom_forms.length > 0"
      [formGroup]="orderForm" class="container mt-5" id="forms">
      <h2 class="form-section-title">
        Customize The Order
      </h2>
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="form-overview mt-5">
            <p-scrollPanel>
              <p-tree
                [value]="formsOverview"
                selectionMode="single"
                [(selection)]="selectedNode"
                (onNodeSelect)="toggleTreeExpand()"
              ></p-tree>
            </p-scrollPanel>
          </div>
        </div>
        <div class="col-lg-8">
          <div
            *ngFor="
              let customForm of customForms().controls;
              let formInd = index
            "
            class="custom-form-group mb-5"
          >
            <h3 class="form-group__title">
              {{ customForm.value.title }}
            </h3>
            <ng-container
              *ngIf="customForm.value.is_formgroup; else independentForm"
            >
              <p-accordion multiple="true">
                <p-accordionTab
                  *ngFor="
                    let subform of subforms(formInd).controls;
                    let subformInd = index
                  "
                  [selected]="true"
                  header="{{ subform.value.title }}"
                >
                  <div
                    *ngFor="
                      let option of subformOptions(formInd, subformInd)
                        .controls;
                      index as optionInd
                    "
                    class="card my-2"
                  >
                    <app-product-options
                      [option]="
                        product.custom_forms[subform.value.id].options[
                          optionInd
                        ]
                      "
                      [requiredInp]="true"
                      [formGroup]="option"
                    ></app-product-options>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </ng-container>
            <ng-template #independentForm>
                <p-accordion class="custom-form-group">
                  <p-accordionTab
                    [selected]="true"
                    header="{{ customForm.value.title }}"
                  >
                    <div
                      *ngFor="
                        let option of options(formInd).controls;
                        index as optionInd
                      "
                      class="card my-2"
                    >
                      <app-product-options
                        [option]="
                          product.custom_forms[customForm.value.id].options[
                            optionInd
                          ]
                        "
                        [requiredInp]="true"
                        [formGroup]="option"
                      ></app-product-options>
                    </div>
                  </p-accordionTab>
                </p-accordion>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 p-2">
        <p-card styleClass="forms-footer">
          <p-button
            label="Add To Cart"
            icon="pi pi-shopping-cart"
            iconPos="right"
            (click)="onSubmit()"
          ></p-button>
        </p-card>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
