@import '../../../assets/css/variables.scss';

.product-detail-component {
  background: $lighter-grey;
}

.card-img__img {
  width: 100%;
  height: auto;
}

.form-overview {
  height: 100%;
}

.form-group {
  margin-top: 2em;
}

.btn--more-options {
  margin-top: 1em;
}

.customization-form {
  display: block;
}

.negotiate-form .card-body::nth-of-type(2n+1) {
  border-top: 1px solid $light-grey;
}

.card-footer__btn {
  margin-left: 1em;
}

.product-img--form {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  
}

.product-details__name {
  font-weight: bold;
}

.product-details-section__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: $dark-grey;
}

.product-details__price-value {
  font-size: 1.8rem;
  font-weight: 900;
}

.object--contain {
  object-fit: contain;
}

.form-section-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.form-group__title {
  font-size: 1.4rem;
  font-weight: 400;
}
