<div>
  <app-header></app-header>
  
  <div
    *ngIf="product !== null && orderForm !== null"
    class="container p-mt-5"
  >
    <div class="p-grid p-justify-between">
      <div class="p-lg-5 p-p-2">
        <p-galleria 
          [(value)]="image_set"  
          [numVisible]="5"
          [circular]="true" 
          [showItemNavigators]="true" 
          [showItemNavigatorsOnHover]="true"
          class="card"
        > 
          <ng-template pTemplate="item" let-item>
              <img [src]="item.src" style="width: 100%; display: block;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
              <div class="p-grid p-nogutter p-justify-center">
                  <img [src]="item.src" style="display: block; width: 80px; height: 60px; object-fit: cover;" />
              </div>
          </ng-template>
          <ng-template pTemplate="caption" let-item>
              <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
              <p>{{item.alt}}</p>
          </ng-template>
        </p-galleria>  
      </div>
  
      <div class="p-lg-7">
        <div class="card product-detail">
          <h1 class="product-detail__name">
            {{product.name}}
          </h1>
          <div class="card__content">
            <p class="product-detail__desc">
              {{product.description}}
            </p>
            <div class="product-detail__price">
              <h2>Price: </h2>
              <p-table
                *ngIf="product.priceTableMode; else basePrice"
                [value]="product.priceTable"
              >
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Price Per Piece</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-price>
                    <tr>
                        <td>{{price.label}}</td>
                        <td>{{price.pricePerPiece | currency: 'USD'}}</td>
                        <td>
                          <span
                            *ngIf="price.relation === 'mte'; else elseRelation"
                            class="pi pi-arrow-up"
                          ></span>
                          <ng-template #elseRelation>
                            <span class="pi pi-arrow-down"></span>
                          </ng-template>
                          {{price.quantity}}
                        </td>
                    </tr>
                </ng-template>
              </p-table>
              <ng-template #basePrice>
                <span>
                  {{product.basePrice | currency: 'USD'}}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="card__footer p-mt-5">
            <p-button 
              label="Customize" 
              icon="pi pi-pencil"
              iconPos="right"
            ></p-button>
          </div>
        </div>
      </div>
    </div>

    <h2>
      Customize The Order
    </h2>
    
    <div 
      [formGroup]="orderForm"
      class="p-grid"
      id="forms"
    >
      <!-- <div class="p-lg-8 p-p-2">
        <div class="card form-overview">
          Form Overview is WIP
        </div>
      </div> -->
      <div
        class="p-lg-8 p-p-2"
      >
        <p-accordion multiple="true">
          <p-accordionTab 
            *ngFor="let customForm of customForms().controls; let formInd = index"
            [selected]="true"
            header="{{product.customForms[formInd].title}}"
          >
            <ng-container formArrayName="customForms">
              <div
                *ngFor="let option of options(formInd).controls; let optionInd = index"
                class="card p-mt-5"
              >
                <app-product-options
                  [option]="product.customForms[formInd].options[optionInd]"
                  [requiredInp]="true"
                  [formGroup]="option"
                ></app-product-options>
                
              </div>
            </ng-container>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="p-lg-4 p-p-2">
        <div class="card">
          <p-header class="card-img">
            <img class="card-img__img" src="{{product.image}}" alt="{{product.name}}">
          </p-header>
          <p-button 
            label="Add To Cart" 
            icon="pi pi-pencil"
            iconPos="right" 
            (click)="onSubmit()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  
</div>
