<div class="product-card p-fluid">
  <div
    *ngIf="itemNum"
    class="item-num-badge"
  >
    <span class="sr-only">
      Item Number
    </span>
    {{itemNum}}
  </div>
  <div class="product-card__img">
    <img
      *ngIf="image; else placeholder"
      src="{{image}}"
      alt="{{name}}"
    >
    <ng-template #placeholder>
      <span class="img-placeholder pi pi-image"></span>
    </ng-template>
  </div>
  <div class="product-card__name">
    {{summary(name)}}
  </div>
  <div class="product-card__price"
    *ngIf="price"
  >
    {{price | currency: 'USD'}}
  </div>
  <div class="product-card__desc">
    {{summary(description)}}
  </div>
  <a
    label="Shop"
    class="show-btn p-shadow-2 p-button-lg"
    icon="pi pi-shopping-cart"
    iconPos="right"
    [routerLink]="['/products', stock ? 'stock' : 'custom', productId]"
    tabindex="0"
    pButton
  ></a>
</div>