.product-card {
  background: white;
  max-width: 300px;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
}

.product-card__name {
  font-size: 1.1rem;
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 6px;
}

.more-btn {
  width: 100%;
}