@import '../../../assets/css/variables.scss';

.product-card {
  position: relative;
  background: white;
  height: 435px;
  border-radius: 6px;
  padding: 1em;
}

.item-num-badge {
	position: absolute;
	background: $primary-color;
	color: white;
	padding: 0.3em 0.5em;
	border-radius: 6px;
	font-weight: 500;
}

.product-card__name {
  display: flex;
  align-items: center;
  font-size: 1.12rem;
  margin-top: 10px;
  height: 45px;
}

.product-card__img {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  .img-placeholder {
    font-size: 3rem;
    color: $dark-grey;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}

.product-card__price {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.75rem;
  font-weight: 900;
}

.product-card__desc {
  color: $dark-grey;
}

.show-btn {
  margin-top: 20px;
}