<div class="product-card p-p-3 {{styleClass}}">
  <div class="product-card__img">
    <img src="{{image}}" alt="{{name}}" srcset="">
  </div>
  <div class="product-card__name mt-3">
    {{name}}
  </div>
  <div class="product-card__price"
    *ngIf="price"
  >
    {{price | currency: 'USD'}}
  </div>
  <div class="product-card__desc">
    {{summary(description)}}...
  </div>
  <a 
    label="Know More"
    class="more-btn p-button-primary mt-2"
    [routerLink]="['/products', stock ? 'stock' : 'custom', productId]"
    pButton
  ></a>
</div>