@import "../../../assets/css/variables.scss";

:host {
  ::ng-deep {
    .add-color-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 82px;
      width: 82px;
      border-radius: 6px;
      background: $success-color;
      color: white;

      &:hover {
        cursor: pointer;
        box-shadow: $shadow-1;
      }

      &:active {
        box-shadow: none !important;
      }
    }

    .select-color-dialog {
      .p-dialog {
        &-header {
          padding: 1rem;
        }

        &-content {
          overflow: visible;
        }
      }
    }
    
    .form-color-picker-label-input {
      text-transform: capitalize;
      margin-bottom: 1em;
    }

    .form-color-picker-input {
      display: flex;
      width: 100%;
      align-items: center;
  
      &__preview {
        height: 2rem;
        width: 2rem;
        border-radius: 6px;
      }

      &__preview-label {
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 1em;
      }
    }

    .color-input-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      label {
        width: 100%;
      }
    }

    .form-maker-color-input-color {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid $light-grey;
      border-radius: 6px;
      padding: 1em;
      margin-top: 1em;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .input-color-preview {
        height: 2.5rem;
        width: 2.5rem;
        position: relative;
        box-shadow: $regular-shadow;
        margin-right: 1em;
        border-radius: 6px;
      }

      .color-tools {
        display: flex;
        align-items: center;
      }
    }

    .color-option-editor {
      &__name-input {
        text-transform: capitalize;
      }
    }

    .input-color-details__name {
      text-transform: capitalize;
    }

    .children-questions-list {
      width: 100%;
    }
  }
}
