<div class="order-mail-form-maker-color-component">
  <ng-container [formGroup]="question">
    <div class="p-field p-fluid p-input-filled">
      <label class="p-mb-2" for="form-question-{{ question.value.id }}">
        Enter the question
      </label>
      <input
        type="text"
        formControlName="label"
        id="form-question-{{ question.value.id }}"
        placeholder="Enter the question"
        pInputText
      />
    </div>

    <div class="color-input-list" formArrayName="inputs">
      <label class="p-mb-3"> Add color choices </label>

      <div
        class="mail-form-maker-color-input-color"
        *ngFor="let input of inputs.controls; index as inputIndex"
      >
        <div
          class="input-color-preview"
          [ngStyle]="{ background: input.value.value }"
        ></div>
        <div class="input-color-details">
          <div class="input-color-details__name">
            <strong>
              {{ input.value.label }}
            </strong>
          </div>
          <div class="input-color-details__value">
            {{ input.value.value }}
          </div>
        </div>
        <div class="color-tools">
          <p-button
            type="button"
            icon="pi pi-pencil"
            styleClass="p-button-primary p-mr-2"
            (onClick)="editQuestionInput(inputIndex, input.value)"
          ></p-button>
          <p-button
            type="button"
            icon="pi pi-times"
            styleClass="p-button-danger"
            (onClick)="removeQuestionInput(inputIndex)"
          ></p-button>
        </div>
      </div>
      <div class="add-color-btn" (click)="toggleColorSelector()">
        <i class="pi pi-plus"></i>
      </div>
    </div>
  </ng-container>

  <div class="select-color-dialog">
    <p-dialog
      header="Select From Pantone Colors"
      [(visible)]="colorSelector"
      [style]="{ width: '50vw' }"
      [modal]="true"
      [dismissableMask]="true"
      [baseZIndex]="10000"
    >
      <p-listbox
        [options]="pantoneColors"
        [(ngModel)]="currentColorInput"
        [metaKeySelection]="false"
        [checkbox]="true"
        [filter]="true"
        [listStyle]="{ 'max-height': '250px' }"
        optionLabel="label"
        [style]="{ width: '100%' }"
      >
        <p-header>
          <div class="p-field p-fluid p-input-filled">
            <input
              class="mail-form-color-picker-label-input"
              id="mail-form-question-input"
              type="text"
              [(ngModel)]="currentColorInput.label"
              pInputText
            />
          </div>
          <div class="mail-form-color-picker-input p-input-filled">
            <input
              class="mail-form-color-picker-input__input"
              type="text"
              [(ngModel)]="currentColorInput.value"
              pInputText
            />
            <div
              class="mail-form-color-picker-input__preview"
              [ngStyle]="{
                background: currentColorInput.value
              }"
            ></div>
          </div>
        </p-header>
        <ng-template let-color pTemplate="item">
          <div class="p-d-flex p-jc-center p-ai-center">
            <i
              class="pi pi-circle-on"
              [style]="'color:' + color.value + '; font-size: 1.5rem'"
            ></i>
            <div class="p-ml-2" style="text-transform: capitalize">
              {{ color.label }}
            </div>
          </div>
        </ng-template>
      </p-listbox>
      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="saveQuestionInput()"
          label="Add Color"
          styleClass="p-button-success p-button-sm"
        ></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>
