.text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

  .active, .bg-golden{
      background: var(--primary-color);
      border: none;
  }

  @media (max-width: 750px){
      
  }

