@charset "utf-8";

@import "./variables.scss";

/* 
  Customizations to the designer theme
*/
body {
  .ui-card {
    box-shadow: none;
    border-radius: 6px;
    color: $dark-color;
  }

  .p-card-header {
    background: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid $light-grey;
    padding: 0.7em;
  }

  .p-button {
    .p-button-label {
      font-weight: 600;
    }
  }

  .ui-button {
    cursor: pointer;
  }

  .p-dropdown {
    width: 100%;
  }

  .p-toast {
    z-index: 100000;
  }

  .p-sidebar {
    padding-right: 0;
    padding-left: 0;
  }

  .p-overlaypanel::before,
  .p-overlaypanel::after {
    display: none;
  }

  .p-menubar {
    .p-submenu-list {
      border-radius: 6px;

      .p-menuitem-link {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
  }
}

/**
  Navigation Bar
**/
.navigation-bar {
  .p-menubar {
    background: white;
    border: none;
    position: relative;
    box-shadow: $regular-shadow;
    padding: 1em;
  }

  .p-menubar-end {
    display: flex;
    flex-grow: 1;

    .nav-searchbar {
      flex-grow: 1;
      margin: 0 1em;
    }

    .nav-searchbar__input {
      width: 100%;
    }
  }

  .account-btn {
    background: $primary-color;
    border: none;
    position: relative;
  }

  .account-btn:enabled:hover,
  .account-btn:enabled:focus {
    background-color: $primary-color;
    box-shadow: $regular-shadow;
    border: none;
  }
}

/**
  Popup box styles
**/
.popup-box {
  border-radius: 6px;

  .p-overlaypanel-content {
    padding: 0.2em 0;

    .popup-box__item {
      min-width: 200px;
    }

    .popup-box__item a {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 1em;
      color: $dark-color;
    }

    .popup-box__item a:hover {
      color: white;
      background-color: $primary-color;
      text-decoration: none;
    }
  }
}


/**
  Admin Products list page
**/
.admin-data-table,
.admin-products-list,
.admin-category-adder,
.admin-tag-adder {
  &.admin-products-table {
    .admin-products-table__image-header {
      width: 4rem;
      height: auto;
      padding-left: 0;
      padding-right: 0;
    }
  
    .p-datatable-tbody {
      .admin-products-table__image {
        img {
          border-radius: 6px;
        }
  
        padding-right: 0;
      }
    }
  }

  .admin-data-table__image-header {
    width: 4rem;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .p-datatable-tbody {
    .admin-data-table__image {
      img {
        border-radius: 6px;
      }

      padding-right: 0;
    }
  }

  .admin-data-table__tools {
    .p-button {
      height: 2.357rem;
    }
  }

  .admin-data-table-searchbar {
    width: 100%;
  }

  .admin-data-table-searchbar__input {
    width: 100%;
  }

  .toolbar__title {
    font-weight: 900;
    font-size: 2rem;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-datatable .p-datatable-tbody > tr > td.admin-data-table__tools {
    text-align: center;
  }

  /* Responsive */
  .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .p-datatable {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr {
        border-bottom: 1px solid $secondary-color;

        > td {
          text-align: left;
          display: flex;
          border: 0 none !important;
          width: 100% !important;
          float: left;
          clear: left;
          border: 0 none;
          word-break: break-all;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4rem 1rem -0.4rem -0.4rem;
            font-weight: bold;
          }

          .p-progressbar {
            margin-top: 0.5rem;
          }
        }
      }

      .admin-products-table__tools {
        display: flex;
        justify-content: center;
      }

      .p-paginator-current {
        width: 100%;
      }
    }
  }
}


/**
  Admin add product form component
**/
.admin-product-form {
  .form-card__header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chained-option-controls {
    width: 100%;
  }
}

/**
Admin Custom Form component
**/
.admin-custom-form-component {
  .option-input {
    border: 1px solid $light-grey;
    border-radius: 6px; 
    position: relative;
    box-shadow: $regular-shadow;
  }
  
  .chained-options {
    width: 100%;
  
    .form-group__label {
      width: 100%;
    }
  }
  
  .card-footer {
    border: 1px solid $light-grey;
    position: relative;
    box-shadow: $regular-shadow;
    background: white;
    border-radius: 6px;
  }

  .add-form-options-overlay {
    .p-overlaypanel-content {
      padding: 0;
    }
  }
}

/**
Admin Header
**/
.admin-header {
  .p-sidebar-left {
    padding: 0;

    .p-sidebar-close {
      visibility: hidden;
      left: 50%;
      transform: translateX(-50%);
      background: $bg-primary;
      color: white;
      height: 3rem;
      width: 3rem;
      z-index: 10002;
      box-shadow: $large-shadow;
      transition: all 0.3s;
    }

    .p-sidebar-close:hover {
      transform: translate(-50%, -4px);
      background: $bg-primary;
      color: white;
    }

    &.p-sidebar-active {
      .p-sidebar-close {
        visibility: visible;
      }
    }
  }

  .p-menubar-button {
    display: none;
  }
}

/**
Product Detail component
**/
.product-detail-component {
  .p-galleria-item-container {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }

  .p-galleria-item {
    min-height: 300px;
    background: white;
  }

  .p-galleria-thumbnail-container {
    background: white;
    margin-top: 1em;
    border-radius: 6px;
    justify-content: space-between;

    .p-galleria-thumbnail-items-container {
      flex-grow: 1;
    }

    .p-galleria-thumbnail-item-content {
      width: 3rem;
      height: 3rem;
      overflow: hidden;
      border-radius: 6px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    
    .p-galleria-thumbnail-next,
    .p-galleria-thumbnail-prev {
      color: $dark-color;
    }
  }

  .form-overview {
    .p-scrollpanel-wrapper {
      background: white;
      border: 1px solid $light-grey;
      border-radius: 6px;
      width: 100%;
      height: 90vh;
    }

    .p-tree {
      border: none;

      .p-tree-container .p-treenode .p-treenode-content.p-highlight {
        background: white;
      }
    }
  }

  .custom-form-group {
    .p-accordion-header {
      border-radius: 6px;

      &:not(.p-disabled) {
        .p-accordion-header-link {
          background: white;
        }
      }

      &.p-highlight {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .p-accordion-header-link {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      .p-accordion-header-link:hover {
        text-decoration: none;
      }
    }

    .p-accordion-tab {
      margin-top: 1.5rem;
      border-radius: 6px;
      position: relative;
      box-shadow: $regular-shadow;
    }

    .p-accordion-content {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
      border-radius: 6px;
    }

    p-accordiontab:first-child .p-accordion-header.p-highlight .p-accordion-header-link {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.order-mail-list-component {
  .p-dialog {
    max-width: 700px;
  }
}

.order-mail-form-maker-color-component {
  p-dialog {
    p-header {
      width: 100%;
  
      .mail-form-color-picker-input {
        display: flex;
        width: 100%;
      }

      .mail-form-color-picker-label-input {
        text-transform: capitalize;
        width: 100%;
        margin-bottom: 1em;
      }
    
      .mail-form-color-picker-input__input {
        flex-grow: 1;
      }
    
      .mail-form-color-picker-input__preview {
        height: 42px;
        width: 42px;
        border-radius: 6px;
        margin-left: 1em;
      }
    }
  }

  .color-input-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mail-form-maker-color-input-color {
    display: flex;
    border: 1px solid $light-grey;
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
    justify-content: space-between;

    .input-color-preview {
      height: 3rem;
      width: 3rem;
      position: relative;
      box-shadow: $regular-shadow;
      margin-right: 1em;
      border-radius: 6px;
    }

    .color-tools {
      display: flex;
      align-items: center;
    }
  }

  .input-color-details__name {
    text-transform: capitalize;
  }
}