$accent-color: #4056A1;
$light-grey: #f1f1f1;
$primary-color: #cc9933;
$secondary-color: #deefb7;
$dark-color: #2b2b2b;
$bg-danger: linear-gradient(90deg, #FF414D 0%, #f85161 100%);
$bg-warning: linear-gradient(90deg, #F6D743 0%, #F6F578 100%);
$bg-success: linear-gradient(90deg, #21BF73 0%, #28DF99 100%);

/**
  Shadows
**/
$regular-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;