$accent-color: #4056A1;
$light-grey: #f1f1f1;
$primary-color: #cc9933;
$secondary-color: #deefb7;
$dark-color: #2b2b2b;

/**
  Shadows
**/
$regular-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;