@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    fieldset {
      border: none;

      legend {
        font-size: 1.1rem;
        padding-left: 0;

        .required-text {
          color: $danger-color;
        }
      }
    }

    .color-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .p-selectbutton {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .p-button {
          margin-right: 1em;
          margin-bottom: 1em;
          border-radius: 6px !important;
          border: 1px solid $light-grey;
          text-transform: capitalize;
        }
      }
    }

    .color-preview {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 6px;
      margin-left: 0.5em;
    }
  }
}