<div cdkDropListGroup class="p-grid admin-forms-maker-component">
  <div class="p-col-12 p-md-4 p-lg-3">
    <aside class="questions-overview-list-wrapper position-sticky">
      <h3>Form Overview</h3>
      <div
        class="questions-overview-list"
        cdkDropList
        [cdkDropListData]="formGroup.value.sections"
        (cdkDropListDropped)="handleSectionsDragSort($event)"
        [cdkDropListAutoScrollDisabled]="false"
      >
        <div
          class="questions-overview-list-item questions-overview-list-item--section"
          *ngFor="
            let section of formGroup.value.sections;
            index as sectionIndex;
            trackBy: trackById
          "
          cdkDrag
          cdkDragLockAxis="y"
        >
          <p-card>
            <ng-template pTemplate="header">
              <div class="p-d-flex p-jc-between">
                <h4 class="p-m-0">
                  {{ sectionIndex + 1 }}. {{ section.title | limitLength: 25 }}
                </h4>
                <span class="drag-section-area pi pi-sort" cdkDragHandle></span>
              </div>
            </ng-template>
            <div
              class="questions-overview-list__questions"
              cdkDropList
              [cdkDropListData]="section.questions"
              [cdkDropListAutoScrollDisabled]="false"
              (cdkDropListDropped)="
                handleQuestionsDragSort($event, sectionIndex)
              "
            >
              <div
                *ngFor="
                  let question of section.questions;
                  index as questionIndex;
                  trackBy: trackById
                "
                class="questions-overview-list-item questions-overview-list-item--question p-d-flex p-jc-between"
                pTooltip="Drag to reorder"
                cdkDrag
                cdkDragLockAxis="y"
              >
                <div class="questions-overview-list-item__label">
                  <span class="p-text-bold">
                    {{ sectionIndex + 1 }}.{{ questionIndex + 1 }}
                  </span>
                  {{ question.label | limitLength: 25 }}
                </div>
                <div class="questions-overview-list-item__tools">
                  <button
                    aria-label="delete question"
                    role="button"
                    class="p-button-text p-button-danger"
                    icon="pi pi-times"
                    (click)="removeQuestion(sectionIndex, questionIndex)"
                    pButton
                  ></button>
                </div>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </aside>
  </div>

  <div #formsPartContainer class="form-maker p-col-12 p-md-8 p-lg-9">
    <p-card class="form-maker-card">
      <form [formGroup]="formGroup" class="order-form-maker">
        <h3>
          {{ formGroup.value.title }}
        </h3>

        <div class="p-fluid p-mt-3">
          <div class="p-field p-input-filled">
            <label for="mail-form-title-{{ formGroup.value.id }}">
              Enter title of the form
            </label>
            <input
              type="text"
              formControlName="title"
              id="mail-form-title-{{ formGroup.value.id }}"
              placeholder="Eg: Pick a color for the product ?"
              pInputText
            />
          </div>
        </div>
      </form>
    </p-card>

    <!-- add section toolbar starts -->
    <p-toolbar styleClass="form-toolbar p-shadow-6 p-mt-5 position-sticky">
      <form class="p-toolbar-group-left p-flex-grow-1">
        <div class="p-fluid p-input-filled p-flex-grow-1">
          <input
            name="new-section-title"
            type="text"
            [(ngModel)]="newSectionTitle"
            placeholder="Enter title for the new section"
            pInputText
          />
        </div>
        <button
          type="submit"
          class="p-button-lg p-button-success p-ml-2"
          label="Add Section"
          icon="pi pi-plus"
          iconPos="right"
          (click)="addSection()"
          [disabled]="!newSectionTitle"
          pButton
        ></button>
      </form>
    </p-toolbar>
    <!-- add section toolbar ends -->

    <ng-container
      *ngFor="
        let section of sections().controls;
        index as sectionIndex;
        trackBy: trackFormGroupById
      "
    >
      <p-card styleClass="form-section-maker p-mt-5">
        <ng-template pTemplate="header">
          <div class="form-section-maker-header p-d-flex p-p-3 p-pb-0">
            <app-overlay-menu
              #menu
              [menuItems]="sectionMenuItems"
              (onSelect)="doSectionOperation($event, section, sectionIndex)"
            ></app-overlay-menu>
            <button
              class="p-button-text p-button-plain p-mr-2"
              type="button"
              icon="pi pi-ellipsis-v"
              aria-label="Show menu"
              (click)="menu.toggle($event)"
              pButton
            ></button>
            <div class="p-fluid p-input-filled p-flex-grow-1">
              <input
                class="form-section-maker-header__title"
                type="text"
                [formControl]="section.get('title')"
                placeholder="Enter section title"
                pInputText
              />
            </div>
            <button
              aria-label="delete form section"
              type="button"
              class="p-button-lg p-button-text p-button-danger p-ml-2"
              icon="pi pi-trash"
              (click)="removeSection(sectionIndex)"
              pButton
            ></button>
            <div class="p-my-auto">
              <label
                class="p-mr-2"
                for="section-required-switch-{{ sectionIndex }}"
              >
                Required
              </label>
              <p-inputSwitch
                [formControl]="section.get('required')"
                inputId="section-required-switch-{{ sectionIndex }}"
              >
              </p-inputSwitch>
            </div>
          </div>
        </ng-template>
        <form [formGroup]="section">
          <ng-container formArrayName="questions">
            <div class="question-maker-list">
              <div
                *ngFor="
                  let question of questions(sectionIndex).controls;
                  index as questionIndex;
                  trackBy: trackFormGroupById
                "
                class="question-maker-list__item p-mb-5"
              >
                <app-admin-forms-question-maker
                  [questionIndex]="questionIndex"
                  [question]="question"
                  (childQuestionActive)="catchActiveChildQuestion($event)"
                  (removeQuestion)="removeQuestion(sectionIndex, questionIndex)"
                  (questionOperation)="
                    doQuestionOperation($event, sectionIndex)
                  "
                ></app-admin-forms-question-maker>
              </div>
            </div>

            <!-- drag and drop feature, uncomment if needed -->
            <!-- <div class="p-fluid p-mt-6">
              <div
                cdkDropList
                (cdkDropListDropped)="addDroppedForm($event, sectionIndex)"
                class="drop-region p-d-flex p-flex-column p-ai-center p-jc-center"
              >
                <i class="add-icon pi pi-plus"></i>
                <i class="droppable-icon pi pi-check"></i>
                <div class="placeholder-text">Drop Question Here</div>
                <div class="droppable-text">Drop To Add</div>
              </div>
            </div> -->
            <button
              type="button"
              label="Add New Question"
              icon="pi pi-plus"
              iconPos="right"
              class="p-button-success p-button-lg p-shadow-2 p-d-block p-ml-auto"
              (click)="addQuestion(sectionIndex)"
              pButton
            ></button>
          </ng-container>
        </form>
      </p-card>
    </ng-container>
    <p-dialog
      header="Add Child Questions"
      class="child-question-dialog"
      position="right"
      [(visible)]="overlays.childQuestion"
      [resizable]="false"
      [draggable]="false"
      [closable]="false"
      [dismissableMask]="true"
      [closeOnEscape]="true"
      [style]="{
        width: formsPartWidth
      }"
      [baseZIndex]="200000"
    >
      <div class="p-mt-5">
        <app-admin-forms-question-maker
          *ngIf="activeChildQuestion"
          [questionIndex]="activeChildQuestion.questionIndex"
          [question]="activeChildQuestion.question"
          (removeQuestion)="removeActiveChildQuestion($event)"
        ></app-admin-forms-question-maker>
      </div>
      <p-footer>
        <button
          type="button"
          label="Done"
          class="p-button-success p-shadow-2"
          (click)="toggleChildQuestionDialog()"
          pButton
        ></button>
      </p-footer>
    </p-dialog>
  </div>
</div>
