<div class="p-grid admin-forms-maker-component">
  <div class="p-col-12 p-md-4 p-lg-3">
    <aside class="questions-list">
      <p-card>
        <p-header>
          <h3>
            Questions
          </h3>
        </p-header>
        <ng-container
          *ngFor="
            let question of formGroup.value.questions;
            index as questionInd;
            trackBy: trackById
          "
        >
          <div *ngIf="question.label" class="questions-list-item p-p-3 p-mt-2">
            <div
              class="questions-list-item__label"
              pDraggable="formGroup.value.questions"
              (onDragStart)="handleDragStart(question)"
              (onDragEnd)="handleDragEnd()"
            >
              <span class="p-text-bold"> {{ questionInd + 1 }}. </span>
              {{ question.label }}
            </div>
          </div>
        </ng-container>
      </p-card>
    </aside>
  </div>

  <div #formsPartContainer class="form-maker p-col-12 p-md-8 p-lg-9">
    <p-card class="form-maker-card">
      <form [formGroup]="formGroup" class="order-form-maker">
        <h3>
          {{ formGroup.value.title }}
        </h3>

        <div class="p-fluid p-mt-3">
          <div class="p-field p-input-filled">
            <label for="mail-form-title-{{ formGroup.value.id }}">
              Enter title of the form
            </label>
            <input
              type="text"
              formControlName="title"
              id="mail-form-title-{{ formGroup.value.id }}"
              placeholder="Eg: Pick a color for the product ?"
              pInputText
            />
          </div>
        </div>
        
        <app-admin-forms-question-maker
          [formGroup]="formGroup"
          [draggedQuestion]="draggedQuestion"
          (childQuestionActive)="catchActiveChildQuestion($event)"
        ></app-admin-forms-question-maker>
      </form>
    </p-card>
    <p-dialog
      header="Add Child Questions"
      class="child-question-dialog"
      position="right"
      [(visible)]="dialogs.childQuestion"
      [resizable]="false"
      [draggable]="false"
      [closable]="false"
      [dismissableMask]="true"
      [closeOnEscape]="true"
      [style]="{
        width: formsPartWidth
      }"
    >
      <app-admin-forms-question-maker-question
        *ngIf="activeChildQuestion"
        [question]="activeChildQuestion.question"
        [questionIndex]="activeChildQuestion.questionIndex"
        (removeQuestion)="removeActiveChildQuestion($event)"
      ></app-admin-forms-question-maker-question>
      <p-footer>
        <button
          type="button"
          label="Done"
          class="p-button-success p-shadow-2"
          (click)="toggleChildQuestionDialog()"
          pButton
        ></button>
      </p-footer>
    </p-dialog>
  </div>
</div>
