@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .file-wrapper {
      min-width: 175px;
      border-radius: 4px;
      background-color: white;
      border: 1px solid transparent;
      transition: box-shadow $transition-func, border $transition-func;
      overflow: hidden;

      &:hover {
        border-color: $light-color;
      }
    }

    .file-header {
      padding: 1rem 1rem 0 1rem;
      &__icon {
        i {
          font-size: $font-size-headline5;
          color: $warning-color;
        }
      }

      &__options-btn {
        padding-right: 0;
        padding-top: 0;
        padding: 0;
        width: auto;
      }
    }

    .file-details {
      padding: 1rem;

      &:hover {
        cursor: pointer;
        background-color: $lighter-grey;
      }

      &__name {
        font-weight: 500;
        text-transform: capitalize;
      }

      &__thumbnail {
        height: 100px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &__meta {
        font-size: $font-size-overline;
        color: $dark-grey;
      }
    }
  }
}
