<p-card
  class="admin-forms-question-maker question-container"
  [formGroup]="question"
>
  <p-header>
    <div class="question-type p-input-filled">
      <span *ngIf="questionIndex >= 0" class="question-type__number">
        {{ questionIndex + 1 }}
      </span>
      <label class="sr-only" for="question-type-{{ questionIndex }}">
        Select Question Type
      </label>
      <p-dropdown
        class="question-type__input"
        [options]="questionTypes"
        formControlName="type"
        [filter]="true"
        filterBy="label"
        [showClear]="true"
        inputId="question-type-{{ questionIndex }}"
        placeholder="Select a Question Type"
      ></p-dropdown>
      <p-button
        type="button"
        icon="pi pi-trash"
        styleClass="question-type__delete-btn p-mx-3 p-button-text p-button-danger p-button-lg"
        (onClick)="emitRemove(questionIndex)"
      ></p-button>
      <div class="p-my-auto">
        <label class="p-mr-2" for="required-btn-{{ questionIndex }}">
          Required
        </label>
        <ng-container formGroupName="validators">
          <p-inputSwitch
            formControlName="required"
            inputId="required-btn-{{ questionIndex }}"
          >
          </p-inputSwitch>
        </ng-container>
      </div>
    </div>
  </p-header>

  <div class="p-mt-5">
    <ng-template #questionContainer></ng-template>
  </div>
</p-card>
