<div class="admin-dashboard">
  <div class="dashboard-top-bg"></div>
  <app-admin-header></app-admin-header>
  <div class="dashboard">
    <div class="sidebar-minimised"></div>
    <div class="container p-my-5">
      <div class="p-grid">
        <div *ngFor="let card of cards" class="p-col-12 p-lg-4">
          <app-admin-status-card [card]="card"></app-admin-status-card>
        </div>
        <div *ngFor="let chart of charts" class="p-col-12 p-lg-6 p-mt-5">
          <app-admin-chart-card
            chartIcon="pi pi-chart-line"
            styleClass="shadow-md"
            [chart]="chart"
          ></app-admin-chart-card>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
