<div>
  <app-admin-header></app-admin-header>
  <div class="container p-mt-5">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <h1 class="font-headline5 font-700 p-my-0">Media</h1>
          </div>

          <div class="p-toolbar-group-right">
            <p-menu
              #newMenu
              [popup]="true"
              [model]="createNewMenuItems"
              appendTo="body"
            ></p-menu>
            <p-button
              label="New"
              icon="pi pi-plus"
              iconPos="right"
              styleClass="p-button-success"
              (onClick)="newMenu.toggle($event)"
            ></p-button>
          </div>
        </p-toolbar>
        <p-breadcrumb [model]="breadcrumbMenu" [home]="home"></p-breadcrumb>
      </div>

      <div class="p-col-12 p-mt-3">
        <h2 class="font-headline6 p-my-0 font-500">Folders</h2>
        <p-dataView
          #dv
          [value]="folders"
          filterBy="name"
          layout="grid"
          [trackBy]="trackByPath"
          emptyMessage="You have no folders"
        >
          <!-- <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Sort By Price"
                (onChange)="onSortChange($event)"
                styleClass="p-mb-2 p-mb-md-0"
              ></p-dropdown>
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                <i class="pi pi-search"></i>
                <input
                  type="search"
                  pInputText
                  placeholder="Search by Name"
                  (input)="dv.filter($event.target.value)"
                />
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template> -->
          <!-- <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
              <div class="product-list-item">
                <img
                  [src]="'assets/showcase/images/demo/product/' + product.image"
                  [alt]="product.name"
                />
                <div class="product-list-detail">
                  <div class="product-name">{{ product.name }}</div>
                  <div class="product-description">{{ product.description }}</div>
                  <p-rating
                    [ngModel]="product.rating"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                  <i class="pi pi-tag product-category-icon"></i
                  ><span class="product-category">{{ product.category }}</span>
                </div>
                <div class="product-list-action">
                  <span class="product-price">${{ product.price }}</span>
                  <p-button
                    icon="pi pi-shopping-cart"
                    label="Add to Cart"
                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                  ></p-button>
                  <span
                    [class]="
                      'product-badge status-' +
                      product.inventoryStatus.toLowerCase()
                    "
                    >{{ product.inventoryStatus }}</span
                  >
                </div>
              </div>
            </div>
          </ng-template> -->
          <ng-template let-folder pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-lg-2 p-p-1">
              <app-media-folder-list-item
                [folder]="folder"
              ></app-media-folder-list-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
      <div class="p-col-12 p-mt-3">
        <h2 class="font-headline6 p-my-0 font-500">Files</h2>
        <p-dataView
          #dv
          [value]="files"
          filterBy="name"
          layout="grid"
          emptyMessage="Add files to see them here"
        >
          <!-- <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Sort By Price"
                (onChange)="onSortChange($event)"
                styleClass="p-mb-2 p-mb-md-0"
              ></p-dropdown>
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                <i class="pi pi-search"></i>
                <input
                  type="search"
                  pInputText
                  placeholder="Search by Name"
                  (input)="dv.filter($event.target.value)"
                />
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template> -->
          <!-- <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
              <div class="product-list-item">
                <img
                  [src]="'assets/showcase/images/demo/product/' + product.image"
                  [alt]="product.name"
                />
                <div class="product-list-detail">
                  <div class="product-name">{{ product.name }}</div>
                  <div class="product-description">{{ product.description }}</div>
                  <p-rating
                    [ngModel]="product.rating"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                  <i class="pi pi-tag product-category-icon"></i
                  ><span class="product-category">{{ product.category }}</span>
                </div>
                <div class="product-list-action">
                  <span class="product-price">${{ product.price }}</span>
                  <p-button
                    icon="pi pi-shopping-cart"
                    label="Add to Cart"
                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                  ></p-button>
                  <span
                    [class]="
                      'product-badge status-' +
                      product.inventoryStatus.toLowerCase()
                    "
                    >{{ product.inventoryStatus }}</span
                  >
                </div>
              </div>
            </div>
          </ng-template> -->
          <ng-template let-file pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-lg-2 p-p-1">
              <app-media-file-list-item
                [file]="file"
                (onSelect)="showFilePreview($event)"
              ></app-media-file-list-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

  <app-media-file-preview
    [file]="previewFile"
    [visible]="filePreviewVisible"
    (onHide)="hideFilePreview()"
  ></app-media-file-preview>

  <p-dialog
    styleClass="upload-media-dialog"
    [(visible)]="uploadMediaVisible"
    [closable]="false"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [modal]="true"
  >
    <div
      [ngClass]="{
        'upload-media-preview': true,
        'p-d-flex': true,
        'p-ai-center': true,
        'p-jc-center': true,
        'upload-media-preview--img-selected': newMedia.value.file
      }"
    >
      <img
        [ngClass]="{
          'upload-media-preview__img': true,
          hide: !newMedia.value.file
        }"
        [src]="newMedia.value.file"
        alt="New Media Image"
      />
      <div
        [ngClass]="{
          hide: newMedia.value.file
        }"
      >
        <p-fileUpload
          #mediaUpload
          mode="basic"
          accept="image/*"
          maxFileSize="10240000"
          [customUpload]="true"
          chooseLabel="Choose Image"
          (onSelect)="convertMedia($event.currentFiles)"
        ></p-fileUpload>
      </div>
    </div>
    <form [formGroup]="newMedia" class="p-fluid p-mt-3">
      <div class="p-field p-input-filled">
        <label>
          Name
          <input
            formControlName="name"
            name="name"
            id="filename"
            type="text"
            pInputText
          />
        </label>
      </div>
      <div class="p-field p-input-filled p-mb-0">
        <label>
          Slug
          <input
            class="ng-invalid"
            formControlName="slug"
            id="slug"
            type="text"
            pInputText
          />
          <small *ngIf="newMedia.get('slug').errors?.notUnique" class="p-error"
            >Slug already exist. Try changing the filename or the slug</small
          >
        </label>
      </div>
    </form>
    <p-footer>
      <div class="p-d-flex p-jc-end">
        <p-button
          styleClass="p-button-text p-button-danger p-mr-2"
          label="Close"
          (onClick)="hideUploadMediaDialog()"
        ></p-button>
        <p-button
          styleClass="p-button-success"
          label="Upload"
          (onClick)="uploadMedia()"
        ></p-button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog
    styleClass="new-folder-dialog"
    [closable]="false"
    [breakpoints]="{ '960px': '50vw', '640px': '90vw' }"
    [modal]="true"
    [(visible)]="createFolderVisible"
  >
    <form [formGroup]="newFolder" class="p-fluid">
      <div class="p-field p-input-filled p-mb-0">
        <label>
          Name
          <input
            class="ng-invalid"
            formControlName="name"
            name="name"
            id="foldername"
            type="text"
            pInputText
          />
          <small *ngIf="newFolder.get('name').errors?.notUnique" class="p-error"
            >Folder already exist. Try giving a different name</small
          >
        </label>
      </div>
    </form>
    <p-footer>
      <div class="p-d-flex p-jc-end">
        <p-button
          styleClass="p-button-text p-button-danger p-mr-2"
          label="Close"
          (onClick)="hideNewFolderDialog()"
        ></p-button>
        <p-button
          styleClass="p-button-success"
          label="Create"
          (onClick)="createFolder()"
        ></p-button>
      </div>
    </p-footer>
  </p-dialog>
  <p-toast></p-toast>
</div>
