@import '../../../assets/css/variables.scss';

.container {
  min-height: 100vh;
}

:host {
  ::ng-deep {
    .p-dataview {
      &-content {
        padding-top: 0;
        background-color: transparent;
      }
    }

    .upload-media {
      &-dialog.p-dialog {
        width: 50vw;
        height: 80vh;
        background-color: white;

        .p-dialog-content {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding-bottom: 0;
        }
      }

      &-preview {
        border: 2px dashed $dark-grey;
        border-radius: 4px;
        position: relative;
        flex-grow: 1;

        &.valid-drop-file {
          border-color: $success-color;
          color: $success-color;
        }

        &.invalid-drop-file {
          border-color: $danger-color;
          color: $danger-color;
        }

        &__img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .clear-img-btn {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

        &--img-selected {
          border-color: transparent;
        }
      }
    }

    .new-folder-dialog {
      .p-dialog {
        &-header {
          padding-bottom: 0;
        }
      }
    }

    .hide {
      opacity: 0;

      &--remove {
        display: none;
      }
    }
  }
}
