<div>
  <app-admin-header></app-admin-header>
  <div class="container p-mt-5">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <h1 class="font-headline5 font-700 p-my-0">Media</h1>
          </div>

          <div class="p-toolbar-group-right">
            <p-button
              label="New"
              icon="pi pi-plus"
              iconPos="right"
              styleClass="p-button-success"
            ></p-button>
          </div>
        </p-toolbar>
      </div>

      <div class="p-col-12 p-mt-3">
        <h2 class="font-headline6 p-my-0 font-500">Folders</h2>
        <p-dataView
          #dv
          [value]="folders | async"
          filterBy="name"
          layout="grid"
          emptyMessage="Add files to see them here"
        >
          <!-- <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Sort By Price"
                (onChange)="onSortChange($event)"
                styleClass="p-mb-2 p-mb-md-0"
              ></p-dropdown>
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                <i class="pi pi-search"></i>
                <input
                  type="search"
                  pInputText
                  placeholder="Search by Name"
                  (input)="dv.filter($event.target.value)"
                />
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template> -->
          <!-- <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
              <div class="product-list-item">
                <img
                  [src]="'assets/showcase/images/demo/product/' + product.image"
                  [alt]="product.name"
                />
                <div class="product-list-detail">
                  <div class="product-name">{{ product.name }}</div>
                  <div class="product-description">{{ product.description }}</div>
                  <p-rating
                    [ngModel]="product.rating"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                  <i class="pi pi-tag product-category-icon"></i
                  ><span class="product-category">{{ product.category }}</span>
                </div>
                <div class="product-list-action">
                  <span class="product-price">${{ product.price }}</span>
                  <p-button
                    icon="pi pi-shopping-cart"
                    label="Add to Cart"
                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                  ></p-button>
                  <span
                    [class]="
                      'product-badge status-' +
                      product.inventoryStatus.toLowerCase()
                    "
                    >{{ product.inventoryStatus }}</span
                  >
                </div>
              </div>
            </div>
          </ng-template> -->
          <ng-template let-folder pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-lg-2 p-p-1">
              <app-media-folder-list-item
                [folder]="folder"
              ></app-media-folder-list-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
      <div class="p-col-12 p-mt-3">
        <h2 class="font-headline6 p-my-0 font-500">Files</h2>
        <p-dataView
          #dv
          [value]="files | async"
          filterBy="name"
          layout="grid"
          emptyMessage="Add files to see them here"
        >
          <!-- <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Sort By Price"
                (onChange)="onSortChange($event)"
                styleClass="p-mb-2 p-mb-md-0"
              ></p-dropdown>
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                <i class="pi pi-search"></i>
                <input
                  type="search"
                  pInputText
                  placeholder="Search by Name"
                  (input)="dv.filter($event.target.value)"
                />
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template> -->
          <!-- <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
              <div class="product-list-item">
                <img
                  [src]="'assets/showcase/images/demo/product/' + product.image"
                  [alt]="product.name"
                />
                <div class="product-list-detail">
                  <div class="product-name">{{ product.name }}</div>
                  <div class="product-description">{{ product.description }}</div>
                  <p-rating
                    [ngModel]="product.rating"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                  <i class="pi pi-tag product-category-icon"></i
                  ><span class="product-category">{{ product.category }}</span>
                </div>
                <div class="product-list-action">
                  <span class="product-price">${{ product.price }}</span>
                  <p-button
                    icon="pi pi-shopping-cart"
                    label="Add to Cart"
                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                  ></p-button>
                  <span
                    [class]="
                      'product-badge status-' +
                      product.inventoryStatus.toLowerCase()
                    "
                    >{{ product.inventoryStatus }}</span
                  >
                </div>
              </div>
            </div>
          </ng-template> -->
          <ng-template let-file pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-lg-2 p-p-1">
              <app-media-file-list-item
                [file]="file"
                (onSelect)="showFilePreview($event)"
              ></app-media-file-list-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

  <app-media-file-preview
    [file]="previewFile"
    [visible]="filePreviewVisible"
    (onHide)="hideFilePreview()"
  ></app-media-file-preview>
</div>
