<div class="admin-product-form">
  <form [formGroup]="productForm">
    <p-card styleClass="form-card base-details mb-5">
      <p-header>
        <div class="form-card__header">
          <div class="form-card-header__left">
            <h1 class="form-card__title">
              <ng-container *ngIf="isEdit; else addProductTitle">
                Edit {{productForm.value.name}}
              </ng-container>
              <ng-template #addProductTitle>
                Enter the product details
              </ng-template>
            </h1>
          </div>
          <div class="form-card-header__right">
            <button
              (click)="cancelProduct()"
              class="btn p-button-danger p-button mr-2"
              label="Cancel"
              pButton
            ></button>
            <ng-container *ngIf="isEdit; else addProduct">
              <button
                (click)="onSubmit()"
                label="Save Product"
                class="btn p-button-success p-button"
                pButton
              ></button>
            </ng-container>
            <ng-template #addProduct>
              <button
                (click)="onSubmit()"
                label="Add Product"
                class="btn p-button-success p-button"
                pButton
              ></button>
            </ng-template>
          </div>
        </div>
      </p-header>
      <div class="form-card__body">
        <div class="form-group">
          <label class="form-group__label" for="name">
            Enter product name
          </label>
          <div class="input-group">
            <input
              id="name"
              formControlName="name"
              type="text"
              class="input-group__input"
              pInputText
              placeholder="Example: Pashmeena Scarf"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="serial">
            Enter product serial
          </label>
          <div class="input-group">
            <input
              id="serial"
              formControlName="serial"
              type="text"
              class="input-group__input"
              pInputText
              placeholder="Example: 44-ss-45"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="description">
            Enter product description
          </label>
          <div class="input-group">
            <textarea
              class="input-group__input"
              id="description"
              formControlName="description"
              [rows]="5"
              [cols]="30"
              autoResize="autoResize"
              placeholder="Enter the description for the product in short words"
              pInputTextarea
            ></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="base_price">
            Enter the price of the product
          </label>
          <div class="select-price-mode">
            <span class="mr-1">Switch to price table </span>
            <p-inputSwitch 
              formControlName="price_table_mode"
            ></p-inputSwitch>
          </div>
          <app-admin-price-table-input
            *ngIf="productForm.value.price_table_mode && productForm.value.price_table; else normalPrice"
            [formGroup]="productForm"
          ></app-admin-price-table-input>
          <ng-template #normalPrice>
            <div class="p-inputgroup input-group">
              <p-inputNumber
                inputStyleClass="input-group__input"
                formControlName="base_price"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                min="0"
                placeholder="Price Per Piece"
                inputId="base_price"
                class="p-inputwrapper"
              ></p-inputNumber>
            </div>
          </ng-template>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="stock"> Stock Available </label>
          <div class="p-inputgroup input-group">
            <p-inputNumber
              inputStyleClass="input-group__input"
              formControlName="stock"
              min="0"
              placeholder="Stock Currently Available"
              inputId="stock"
              class="p-inputwrapper"
            ></p-inputNumber>
          </div>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="category">
            Select a product category
          </label>
          <div>
            <app-admin-category-selector
              id="category"
              [formGroup]="productForm"
              [categories]="categories"
              (onSelect)="getTags($event)"
            ></app-admin-category-selector>
          </div>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="tags">
            Select product tags
          </label>
          <div>
            <app-admin-tag-selector
              id="tags"
              [formGroup]="productForm"
              [tags]="tags"
            ></app-admin-tag-selector>
          </div>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="image">
            Upload product images
          </label>
          <div class="preview-product-image">
            <ng-container *ngIf="product && product.value.image">
              <div class="mr-5">
                <img
                  class="preview-product-image__image"
                  src="{{ product.value.image }}"
                  alt="Current Product Image"
                />
                <p class="preview-product-image__label">Current Image</p>
              </div>
            </ng-container>
            <ng-container *ngIf="newProductImage">
              <div>
                <img
                  class="preview-product-image__image"
                  src="{{ newProductImage }}"
                  alt="New Product Image"
                />
                <p class="preview-product-image__label">New Image</p>
              </div>
            </ng-container>
          </div>
          <div class="input-group">
            <p-fileUpload
              class="input-group__input"
              id="image"
              name="file"
              accept="image/*"
              maxFileSize="1000000000"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [previewWidth]="50"
              [auto]="true"
              [customUpload]="true"
              (uploadHandler)="uploadImages($event)"
              (onRemove)="newProductImage = null"
            ></p-fileUpload>
          </div>
        </div>
      </div>
    </p-card>

    <ng-container
      formArrayName="custom_forms"
      *ngFor="let customForm of customForms().controls; let i = index"
    >
      <app-admin-custom-form
        [formArray]="customForms()"
        [formGroup]="customForm"
        [formId]="i"
        [formCount]="customForms().length"
      ></app-admin-custom-form>
    </ng-container>
    <div class="add-new-custom-form d-flex mb-5 p-3 shadow">
      <label class="sr-only" for="add-new-custom-form__input">
        Add a new custom form
      </label>
      <input
        type="text"
        name="add-new-custom-form__input"
        id="add-new-custom-form__input"
        class="add-new-custom-form__input flex-grow-1"
        pInputText
        #newCustomFormTitle
      />
      <div class="add-new-custom-form__add-btn ml-2">
        <button (click)="addCustomForm()" class="btn btn-primary">
          <i class="pi pi-plus"></i>
        </button>
      </div>
    </div>

    <p-card styleClass="d-flex justify-content-end">
      <button
        (click)="cancelProduct()"
        class="btn p-button-danger mr-2"
        label="Cancel"
        pButton
      ></button>
      <ng-container *ngIf="isEdit; else addProduct">
        <button
          (click)="onSubmit()"
          label="Save Product"
          class="btn p-button-success"
          pButton
        ></button>
      </ng-container>
      <ng-template #addProduct>
        <button
          (click)="onSubmit()"
          label="Add Product"
          class="btn p-button-success"
          pButton
        ></button>
      </ng-template>
    </p-card>
  </form>
</div>
