@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .admin-product-form {
      .form-group__label {
        font-weight: 600;
        font-size: 1.1rem;
      }

      .select-price-mode {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .p-inputwrapper {
      width: 100%;

      .p-inputnumber {
        width: 100%;
      }
    }

    .preview-product-image {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    .preview-product-image__image {
      max-width: 200px;
      height: auto;
      position: relative;
      box-shadow: $regular-shadow;
      border-radius: 6px;
      margin: 1.5em auto;
    }
  }
}

.form-card__title {
  font-weight: 900;
  font-size: 2rem;
}

.add-new-custom-form {
  background-color: white;
  border-radius: 6px;
}

.add-new-custom-form__add-btn {
  .btn {
    height: 100%;
    color: white;
  }
}