<app-header></app-header>

<section class="about">

    <div class="content">
        <h2>About Us</h2><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iure id consequatur! Maiores, similique
            recusandae! Est corrupti veritatis, rem cumque placeat sint doloribus facere optio debitis. Cum id
            exercitationem velit.</p>
            <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde facere dolores recusandae est quod hic cumque suscipit quas corrupti officia nobis atque, aliquam, deserunt maiores odit consectetur qui sit.Hic id eum minima blanditiis? Modi obcaecati maxime quas ut quos, natus eaque veniam dolorum dignissimos. Maxime repellat dicta rerum magni! Dicta fugit unde corrupti placeat sit itaque maxime quisquam.</p>
<br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores soluta repudiandae assumenda placeat veritatis! Reprehenderit libero ducimus dolorum, laudantium tempore sequi perferendis aliquid, quibusdam quaerat, ex id magni pariatur quam.
        Facilis inventore consequatur maxime mollitia necessitatibus quae porro sed culpa illo expedita quasi praesentium dolor nesciunt, tempora sint ducimus, consequuntur asperiores qui quas explicabo rem saepe! Cumque quis est Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, maxime? Eum impedit maxime sed veritatis accusantium fuga aperiam soluta? Nam quia porro soluta consequatur, aperiam voluptatibus rerum? Saepe, laboriosam sint.</p>

    </div>
    <div class="graphic">
        <img src="./../../../assets/images/undraw_factory_dy0a.svg">
    </div>

</section>


<app-footer></app-footer>