section.about{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 20px 50px;

    .content{
        h2{
            font-family: "Roboto";
            font-size: 1.3em;
        }

        p{
            font-family: "Open Sans";
            font-size: 0.9em;
        }

        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .graphic{
        width: 100%;

        img{
            width: inherit;
        }
    }
}