<app-header></app-header>
<div class="container my-5">
  <div class="row justify-content-around">
    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <p-card header="Shop from stocks" [styleClass]="['mb-2']">
        <p-header>
            <img class="object-cover card-img" src="../../../assets/images/store_illus.svg" alt="Store image">
        </p-header>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque esse repellendus expedita sequi
        <p-footer>
          <a routerLink="/shop/stock" class="btn btn-primary">
            Shop
          </a>
        </p-footer>
      </p-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <p-card header="Create From Scratch">
        <p-header>
            <img class="card-img object-cover" src="../../../assets/images/build_illus.svg" alt="Build image">
        </p-header>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque esse repellendus expedita sequi
        <p-footer>
          <a routerLink="" class="btn btn-primary">
            Create
          </a>
        </p-footer>
      </p-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
