<form [formGroup]="productForm" class="form p-mb-6">
  <div class="form-header p-d-flex p-jc-between p-ai-center">
    <h2 class="form-header__title font-headline5 p-m-0">Product Details</h2>
    <div class="form-header__tools">
      <p-button
        type="button"
        styleClass="p-button-text p-button-danger p-mr-2"
        label="cancel"
        (onClick)="cancelForm()"
      ></p-button>
      <p-button
        type="submit"
        styleClass="p-button-success shadow-md"
        label="Save Product"
        [disabled]="!productForm.valid"
        (onClick)="emitSubmitEvent()"
      ></p-button>
    </div>
  </div>
  <div class="form-content">
    <p-tabView styleClass="p-mt-3">
      <p-tabPanel header="base product">
        <app-admin-custom-product-crud-form-basic-details
          [baseProductForm]="baseProductForm()"
        ></app-admin-custom-product-crud-form-basic-details>
        <app-admin-custom-product-crud-form-product-image
          [imageForm]="baseProductImageForm()"
        ></app-admin-custom-product-crud-form-product-image>
        <app-admin-custom-product-crud-form-pricing
          [baseProductForm]="baseProductForm()"
          styleClass="p-mt-3"
        ></app-admin-custom-product-crud-form-pricing>
        <app-admin-custom-product-crud-form-inventory-mgmnt
          styleClass="p-mt-3"
          [inventoryForm]="baseProductForm()"
        ></app-admin-custom-product-crud-form-inventory-mgmnt>
        <app-admin-custom-product-crud-form-order-properties
          styleClass="p-mt-3"
          [orderPropsForm]="orderPropsForm()"
        ></app-admin-custom-product-crud-form-order-properties>
      </p-tabPanel>
      <p-tabPanel header="Variants">
        <app-admin-custom-product-crud-form-variants-tab
          [productForm]="productForm"
        ></app-admin-custom-product-crud-form-variants-tab>
      </p-tabPanel>
    </p-tabView>
  </div>
</form>
