section{
    margin: 10px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color);


    div.content{
        padding: 30px;

        h2{
            font-size: 2em;
        }

        div.description{
            margin-top: 30px;
        }

        div.button{
            margin-top: 30px;

            a, a:visited, a:active, a:hover{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 700;
                color: var(--dark-color);
            }
        }
    }

}

section.reverse{
    flex-direction: row-reverse;
}