.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

  &.status-instock {
    background-color: #c8e6c9;
    color: #256029;
  }

  &.status-outofstock {
    background-color: #ffcdd2;
    color: #c63737;
  }

  &.status-lowstock {
    background-color: #ffd8b2;
    color: #805b36;
  }
}
