<div class="p-grid admin-products-list">
  <p-toast baseZIndex="100000"></p-toast>
  
  <div class="p-col card p-3">
    <p-toolbar styleClass="toolbar shadow p-mb-4">
      <ng-template pTemplate="left">
        <h1 class="toolbar__title m-md-0 mb-3">Manage Products</h1>
      </ng-template>
  
      <ng-template pTemplate="right">
        <a
          [routerLink]="['add']"
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
        ></a>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger d-none"
          (click)="deleteSelectedProducts()"
          [disabled]="!selectedProducts || !selectedProducts.length"
        ></button>
      </ng-template>
    </p-toolbar>
  
    <p-table
      #dt
      [value]="products"
      [rows]="25"
      [rowsPerPageOptions]="[25,50, 100]"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'serial',
        'category.name',
        'base_price'
      ]"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      styleClass="admin-products-table"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="admin-data-table-searchbar p-input-icon-right">
            <i class="admin-data-table-searchbar__icon pi pi-search"></i>
            <input
              class="admin-data-table-searchbar__input"
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search name, serial, category and base price"
              pInputText
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="admin-products-table__image-header"></th>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="serial">
            Serial <p-sortIcon field="serial"></p-sortIcon>
          </th>
          <th pSortableColumn="price">
            Price <p-sortIcon field="base_price"></p-sortIcon>
          </th>
          <th pSortableColumn="category.name">
            Category <p-sortIcon field="category.name"></p-sortIcon>
          </th>
          <th pSortableColumn="stockStatus">
            Status <p-sortIcon field="stockStatus"></p-sortIcon>
          </th>
          <th style="width: 170px;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="admin-products-table__image">
            <img
              [src]="product.image"
              [alt]="product.name"
              width="100"
              class="shadow"
            />
          </td>
          <td>
            <span class="p-column-title">
              Name
            </span>
            <span>
              {{ product.name }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Serial
            </span>
            <span>
              {{ product.serial }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Price
            </span>
            <span>
              {{ product.base_price | currency: "USD" }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Category
            </span>
            <span>
              {{ product.category.name }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Status
            </span>
            <span
              [class]="
                'product-badge status-' + availability(product)
              "
              >
                {{ availability(product) }}
              </span
            >
          </td>
          <td class="admin-data-table__tools">
            <a
              [routerLink]="[product.id, 'edit']"
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
            ></a>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-mr-2"
              (click)="deleteProduct(product)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-copy"
              class="p-button-rounded p-button-warning"
              (click)="duplicateProduct(product)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ products ? products.length : 0 }} products.
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
