:host {
  ::ng-deep {
    input {
      display: inline-block;
      width: 100%;
    }

    input:disabled {
      color: black;
      border: none;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .form-group__label {
      width: 100%;
    }
    
    .form-group__input,
    .p-inputnumber {
      width: 100%;
    }
  }
}