<div>
  <app-header></app-header>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-4">
        <p-card
          header="{{user.firstName + ' ' + user.lastName}}"
          subheader="{{user.role}}"
          styleClass="p-card-shadow"
        >
          <p-header>
            <img
              alt="User Image"
              src="../../../assets/images/user2-160x160.jpg"
            />
          </p-header>
          <ng-template pTemplate="footer">
            <div class="text-right">
              <p-button
                label="Change Photo"
                iconPos="right"
                icon="pi pi-pencil"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="col-12 col-lg-8">
        <p-card header="User Details" styleClass="p-card-shadow">
          <p-tabView *ngIf="user">
            <p-tabPanel header="Personal Details">
              <form class="user-details-form row">
                <div class="form-group col-12 col-lg-6">
                  <label class="form-group__label" for="first-name">
                    First Name:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="firstName"
                    id="first-name"
                    [(ngModel)]="user.firstName"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="last-name">
                    Last Name:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="lastName"
                    id="last-name"
                    [(ngModel)]="user.lastName"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12">
                  <label class="form-group__label" for="profession">
                    Profession:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="profession"
                    id="profession"
                    [(ngModel)]="user.profession"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12">
                  <label class="form-group__label" for="email">
                    Email:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="email"
                    id="email"
                    [(ngModel)]="user.email"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12">
                  <label class="form-group__label" for="phone">
                    Phone:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="phone"
                    id="phone"
                    [(ngModel)]="user.phone"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
              </form>
            </p-tabPanel>
            <p-tabPanel header="Company Details">
              <form class="company-details-form row">
                <div class="form-group col-12">
                  <label class="form-group__label" for="company-name">
                    First Name:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="companyName"
                    id="company-name"
                    [(ngModel)]="user.companyDetails.name"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-2">
                  <label class="form-group__label" for="building-number">
                    Building Number:
                  </label>
                  <p-inputNumber
                    class="form-group__input"
                    name="buildingNumber"
                    inputId="building-number"
                    [(ngModel)]="user.companyDetails.buildingNumber"
                    [min]="0"
                    [useGrouping]="false"
                    [disabled]="viewMode"
                  ></p-inputNumber>
                </div>
                <div class="form-group col-12 col-md-10">
                  <label class="form-group__label" for="street-name">
                    Street Name:
                  </label
                  >
                  <input
                    class="form-group__input"
                    type="text"
                    name="streetName"
                    id="street-name"
                    [(ngModel)]="user.companyDetails.streetName"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12">
                  <label class="form-group__label" for="builing-name">
                    Building:
                  </label
                  >
                  <input
                    class="form-group__input"
                    type="text"
                    name="buildingName"
                    id="builing-name"
                    [(ngModel)]="user.companyDetails.buildingName"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="locality">
                    Locality:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="locality"
                    id="locality"
                    [(ngModel)]="user.companyDetails.locality"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="province-abbr">
                    Province Abbreviation:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="provinceAbbr"
                    id="province-abbr"
                    [(ngModel)]="user.companyDetails.provinceAbbr"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="zip">
                    Zip/Postal Code:
                  </label>
                  <p-inputNumber
                    class="form-group__input"
                    name="zip"
                    inputId="zip"
                    [(ngModel)]="user.companyDetails.zip"
                    [min]="0"
                    [useGrouping]="false"
                    [disabled]="viewMode"
                  ></p-inputNumber>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="country">
                    Country:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="country"
                    id="country"
                    [(ngModel)]="user.companyDetails.country"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="email">
                    Email:
                  </label>
                  <input
                    class="form-group__input"
                    type="text"
                    name="email"
                    id="email"
                    [(ngModel)]="user.companyDetails.email"
                    pInputText
                    [disabled]="viewMode"
                  />
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="form-group__label" for="company-phone">
                    Phone:
                  </label>
                  <p-inputNumber
                    class="form-group__input"
                    name="companyPhone"
                    inputId="company-phone"
                    [(ngModel)]="user.companyDetails.phone"
                    [min]="0"
                    [useGrouping]="false"
                    [disabled]="viewMode"
                  ></p-inputNumber>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>
          <ng-template pTemplate="footer">
            <div class="text-right">
              <p-button
                label="Edit"
                iconPos="right"
                icon="pi pi-pencil"
                (click)="editProfile()"
              ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
