<app-header></app-header>

<div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://via.placeholder.com/100x100.png" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{ user.name }}
                            </h5>
                            <h6>
                                Company Of User
                            </h6>
                            <p class="proile-rating">Orders Completed : <span>3</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Company Details</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button (click)="editProfile()" class="profile-edit-btn" name="btnAddMore">{{ formMode ? 'Edit Profile' : 'Save' }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div> -->
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>#<input [disabled]="formMode" type="text" name="username" id="username" [value]="user.id"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input [disabled]="formMode" type="text" name="name" id="name" [value]="user.name"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> <input [disabled]="formMode" type="email" name="email" id="email" [value]="user.email"> </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input [disabled]="formMode" type="tel" name="phone" id="phone" [value]="user.phone"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input [disabled]="formMode" type="text" name="profession" id="profession" value="CEO of Somecompany"></p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input [disabled]="formMode" type="text" name="company_name" id="company_name" value="Somecompany"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Company Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><textarea [disabled]="formMode" name="company_address" id="company_address">Address of some company, 22 street someplace</textarea></p>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <label>Your Bio</label><br/> -->
                                <p>More info soon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<app-footer></app-footer>