<div class="stock-product-detail-component">
  <app-header></app-header>

  <div *ngIf="product" class="container">
    <div class="p-grid">
      <div class="p-col-12 p-lg-4">
        <div class="product-img">
          <p-galleria
            [(value)]="product.product.images"
            [(activeIndex)]="activeImageIndex"
            [responsiveOptions]="responsiveOptions"
            [circular]="true"
            [showItemNavigators]="true"
            [numVisible]="5"
          >
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.front_view.src"
                alt="{{ item.front_view.title }}"
              />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="p-grid p-nogutter p-justify-center">
                <img
                  [src]="item.front_view.src"
                  alt="{{ item.front_view.title }}"
                />
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>
      <div class="p-col-12 p-lg-8">
        <p-card styleClass="product-details">
          <p-header>
            <h1 class="product-details__name">
              {{ product.product.name }}
            </h1>
          </p-header>

          <div class="product-details-section">
            <h2 class="product-details-section__title">Description</h2>
            <p>
              {{ product.product.description }}
            </p>
          </div>
          <form [formGroup]="orderForm">
            <ng-container formArrayName="stock_order_attributes">
              <ng-container formGroupName="1">
                <div class="product-details-section">
                  <label for="variant_id" class="product-details-section__title"
                    >Variant Id</label
                  >
                  <div class="p-field p-input-filled">
                    <p-dropdown
                      inputId="variant_id"
                      [options]="attributes.variant_ids"
                      formControlName="input"
                      (onChange)="updateProductVariant()"
                    ></p-dropdown>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <div class="product-details-section product-detail__price">
              <h2 class="product-details-section__title">Price</h2>
              <p-table
                *ngIf="product.attributes.price_table_mode; else basePrice"
                [value]="product.attributes.price_table.price_groups"
                styleClass="p-datatable-gridlines"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Price Per Piece</th>
                    <th>Quantity (Upto)</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-price>
                  <tr>
                    <td>$ {{ price.price_per_piece }}</td>
                    <td>
                      {{ price.quantity }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <ng-template #basePrice>
                <span class="product-details__price-value">
                  {{
                    product.attributes.price_table.price_groups[0]
                      .price_per_piece | currency: 'USD'
                  }}
                  / piece
                </span>
              </ng-template>
            </div>

            <ng-container formArrayName="stock_order_attributes">
              <!-- options for color attribute starts -->
              <div
                formGroupName="0"
                class="product-details-section order-attribute p-grid p-nogutter"
              >
                <div class="p-col-3">
                  <label for="colors"> Colors </label>
                </div>
                <div
                  class="order-attribute-input order-attribute-input--color p-col-9"
                >
                  <p-selectButton
                    formControlName="input"
                    [options]="attributes.colors"
                    optionDisabled="inactive"
                    (onChange)="updateProductAttributes()"
                  ></p-selectButton>
                </div>
              </div>
              <!-- options for color attribute ends -->
            </ng-container>
          </form>

          <!-- option for order quantity starts -->
          <div
            class="product-details-section order-attribute p-grid p-nogutter"
          >
            <div class="p-col-3">
              <label for="order-quantity"> Order Quantity </label>
            </div>
            <div
              class="order-attribute-input order-attribute-input--quantity p-field p-input-filled p-col-9"
            >
              <p-inputNumber
                [(ngModel)]="orderQuantity"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="order-quantity"
                spinnerMode="horizontal"
                [step]="1"
                decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                mode="decimal"
                min="1"
                (onInput)="this.updateTotalPrice()"
              >
              </p-inputNumber>
            </div>
          </div>
          <!-- option for order quantity ends -->

          <p-footer>
            <div class="p-grid p-nogutter">
              <div class="p-col-6 p-d-flex p-jc-start p-ai-center">
                <div class="footer-price">
                  <span class="footer-price__currency"> $ </span>
                  <span class="footer-price__value">
                    {{ totalPrice }}
                  </span>
                </div>
              </div>
              <div class="p-col-6 p-d-flex p-jc-end">
                <p-button
                  styleClass="p-button-success p-button-lg p-shadow-4"
                  [disabled]="false"
                  label="Add To Cart"
                  icon="pi pi-shopping-cart"
                  iconPos="right"
                  (onClick)="onSubmit()"
                ></p-button>
              </div>
            </div>
          </p-footer>
        </p-card>

        <!-- product specifications table starts -->
        <p-card styleClass="product-spec-table" header="Product Specifications">
          <p-scrollPanel
            [style]="{ height: '60vh', width: '100%' }"
            styleClass="custombar1"
          >
            <p-table [value]="productSpecsTable">
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td class="spec-name">{{ product.label }}</td>
                  <td>{{ product.value }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-scrollPanel>
        </p-card>
        <!-- product specifications table ends -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
