.container {
  padding-top: 5rem;
  padding-bottom:  5rem;
}

.card {
  box-shadow: none;
}

.order-spec {
  margin-top: 2em;
  background: #dbdbdb;
  padding: 1em;
}

.order-detail--title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.btn--confirm {
  text-align: center;
}

.orderSummary__feature-title {
  font-weight: bold;
}

.product-card__img {
  text-align: center;
}

.product-desc__name {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-desc__content {
  font-weight: lighter;
}

.product-desc__price {
  font-weight: bold;
  font-size: 1.3rem;
}

.date-picker__title {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
}
