<ng-container [formGroup]="form">
  <div formArrayName="questions" class="order-mail-form-maker-date-component">
    <ng-container [formGroupName]="questionIndex">
      <div class="p-fluid p-field p-input-filled">
        <label for="form-question-{{ form.value.questions[questionIndex].id }}">
          Enter the question
        </label>
        <input
          type="text"
          formControlName="label"
          id="form-question-{{ form.value.questions[questionIndex].id }}"
          placeholder="Enter the question"
          pInputText
        />
      </div>

      <div class="p-fluid p-field p-input-filled">
        <label
          for="form-question-{{
            form.value.questions[questionIndex].id
          }}-placeholder"
        >
          Enter placeholder for date input
        </label>
        <input
          type="text"
          formControlName="placeholder"
          id="form-question-{{
            form.value.questions[questionIndex].id
          }}-placeholder"
          placeholder="Enter the question"
          pInputText
        />
      </div>

      <div class="p-grid">
        <div class="p-col-6">
          <div class="p-fluid p-field p-input-filled">
            <label for="min-date"> Minimum Date For Input </label>
            <p-calendar
              [minDate]="minDate"
              [touchUI]="true"
              [appendTo]="'body'"
              [baseZIndex]="100"
              inputId="date-range"
              styleClass="shadow question-input__input"
              placeholder="Confirmation Date"
            ></p-calendar>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
