<div [formGroup]="form" class="order-mail-form-maker-text-component">
  <div class="p-fluid p-field p-input-filled">
    <label for="form-question-{{ form.value.id }}">
      Enter the question
    </label>
    <input
      type="text"
      formControlName="label"
      id="form-question-{{ form.value.id }}"
      placeholder="Enter the question"
      pInputText
    />
  </div>
  <div class="p-fluid p-field p-input-filled">
    <label
      for="form-question-{{
        form.value.id
      }}-placeholder"
    >
      Enter placeholder for text input
    </label>
    <input
      type="text"
      formControlName="placeholder"
      id="form-question-{{
        form.value.id
      }}-placeholder"
      placeholder="Enter the question"
      pInputText
    />
  </div>
</div>
