@import '../../../assets/css/variables.scss';

.sidebar-toggle {
  cursor: pointer;
}

.sidebar-logo {
  text-align: center;
  padding: 1em;
}

.sidebar-content__profile-img {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid whitesmoke;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sidebar-items {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-item {
  padding: 0.3em;
}

.sidebar-item__link {
  position: relative;
  border-radius: 6px;
  color: $dark-color;
  padding: 1em;
  transition: all 0.3s;

  &:hover {
    color: $dark-color;
    background-color: $secondary-color;
    text-decoration: none;
  }
}

.sidebar-item__link--active {
  color: white;
  background: $bg-primary;
  box-shadow: $regular-shadow;
  font-weight: bold;

  &:hover {
    color: white;
    background-color: $bg-primary;
  }
}
