.product-option {
  margin-top: 2em;
}
.customization-question {
  margin-top: 0;
  font-weight: 400;

  &__text {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__req-badge {
    color: red;
  }
}

.customization-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;

  .customization-input {
    margin-top: 1em;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }
}