<app-header></app-header>

<div class="mt-2">
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="cart.length > 0; else cartEmpty">
                <tr *ngFor="let item of cart; index as itemIndex">
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img
                        src="{{ item.image }}"
                        alt="{{ item.name }}"
                        width="70"
                        class="img-fluid rounded shadow-sm"
                      />
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0">
                          <a
                            routerLink="/cart/{{item.id}}"
                            class="text-dark d-inline-block align-middle"
                          >
                            {{item.name}}
                          </a>
                        </h5>
                        <span
                          class="text-muted font-weight-normal font-italic d-block"
                        >
                          {{item.category}}
                        </span>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>$79.00</strong></td>
                  <td class="border-0 align-middle"><strong>3</strong></td>
                  <td class="border-0 align-middle">
                    <span 
                      (click)="deleteItem(itemIndex)"
                      class="text-dark delete-btn"
                    >
                      <i class="fa fa-trash"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
              <ng-template #cartEmpty>
                <p class="text-center">
                  Add something to the cart to see it here
                </p>
              </ng-template>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6"></div>

        <div class="col-lg-6">
          <div
            class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
          >
            Order summary
          </div>
          <div class="p-4">
            <p class="font-italic mb-4">
              Shipping and additional costs are calculated based on values you
              have entered.
            </p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Order Subtotal </strong
                ><strong>$390.00</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Shipping and handling</strong
                ><strong>$10.00</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Tax</strong><strong>$0.00</strong>
              </li>
              <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">$400.00</h5>
              </li>
            </ul>
            <a href="#" class="btn btn-dark rounded-pill py-2 btn-block"
              >Procceed to checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
