<div class="cart-component">
  <app-header></app-header>

  <div class="container mt-5">
    <h1>
      Cart
    </h1>
    <p-card
      *ngFor="let item of cart.data; index as itemIndex"
      styleClass="mt-3"
    >
      <div class="cart-item-card row">
        <div class="col-12 col-lg-3 d-flex align-items-center">
          <div class="cart-item-card__img">
            <img src="{{ item.product.image }}" alt="{{ item.product.name }}" />
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="cart-item-card__product-details">
            <h2 class="product-details__name">
              <a [routerLink]="[item.id]">
                {{ item.product.name }}
              </a>
            </h2>
            <div class="product-details__quantity mt-4">
              <span> Quantity: </span>
              {{ item.quantity }}
            </div>
            <div class="product-details__price mt-2">
              <ng-container *ngIf="item.custom_forms_entry; else basePrice">
                {{ item.custom_forms_entry.total_price | currency: "USD" }}
              </ng-container>
              <ng-template #basePrice>
                {{ item.product.base_price | currency: "USD" }}
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-end justify-content-end">
          <div class="cart-item-card__cart-tools mt-5">
            <p-button
              label="Remove"
              icon="pi pi-trash"
              iconPos="right"
              styleClass="p-button-danger p-button-outlined mr-2"
              (onClick)="deleteItem(itemIndex)"
            ></p-button>
            <a
              [routerLink]="[item.id]"
              label="Buy Now"
              icon="pi pi-check"
              iconPos="right"
              class="p-button-success"
              pButton
            ></a>
          </div>
        </div>
      </div>
    </p-card>

    <p-card *ngIf="cart.data.length < 1" styleClass="shadow">
      <div class="p-5">
        <h2 class="cart-empty-title">Your cart is empty</h2>
        <div class="mt-3 text-center">
          <a
            routerLink="/"
            label="Go to store"
            icon="pi pi-arrow-right"
            iconPos="right"
            class="p-button-primary"
            pButton
          ></a>
        </div>
      </div>
    </p-card>
  </div>

  <app-footer></app-footer>
</div>
