@import "../../../assets/css/variables.scss";

:host {
  ::ng-deep {
    .question-container {
      .p-card {
        margin-top: 3em;
        border: 1px solid $light-grey;
        box-shadow: none;

        &-header {
          .question-type {
            display: flex;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid $light-grey;

            &__number {
              width: 48px;
              margin-right: 1em;
              border-radius: 6px;
              font-size: 1.2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 500;
              background: rgba(204, 153, 51, 0.3);
            }

            &__input {
              flex-grow: 1;

              .p-dropdown {
                width: 100%;
              }
            }

            &__delete-btn {
              margin-left: 1em;
            }
          }
        }
      }
    }

    // .mail-form-color-picker-input {
    //   display: flex;
    //   width: 100%;
    // }

    // .mail-form-color-picker-label-input {
    //   text-transform: capitalize;
    //   width: 100%;
    //   margin-bottom: 1em;
    // }

    // .mail-form-color-picker-input__input {
    //   flex-grow: 1;
    // }

    // .mail-form-color-picker-input__preview {
    //   height: 42px;
    //   width: 42px;
    //   border-radius: 6px;
    //   margin-left: 1em;
    // }

    // .color-input-list {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    // }

    // .mail-form-maker-color-input-color {
    //   display: flex;
    //   border: 1px solid $light-grey;
    //   border-radius: 6px;
    //   padding: 1em;
    //   margin-bottom: 1.5em;
    //   width: 100%;
    //   justify-content: space-between;

    //   .input-color-preview {
    //     height: 3rem;
    //     width: 3rem;
    //     position: relative;
    //     box-shadow: $regular-shadow;
    //     margin-right: 1em;
    //     border-radius: 6px;
    //   }

    //   .color-tools {
    //     display: flex;
    //     align-items: center;
    //   }
    // }

    // .input-color-details__name {
    //   text-transform: capitalize;
    // }
  }
}
