<div class="admin-forms-maker-page">
  <app-admin-header></app-admin-header>
  <div class="container p-mb-5">
    <div class="p-grid">
      <!-- <div class="p-col-12">
        <p-dataView
          #dv
          [value]="forms"
          [rows]="9"
          filterBy="data.title"
          layout="grid"
        >
          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-row p-jc-between">
              <span class="p-input-icon-right p-input-filled p-mb-2 p-mb-md-0">
                <input
                  type="search"
                  pInputText
                  placeholder="Search by form title"
                  (input)="dv.filter($event.target.value)"
                />
                <i class="pi pi-search"></i>
              </span>
              <button
                class="p-button-success"
                type="button"
                label="Create Form"
                icon="pi pi-plus"
                iconPos="right"
                (click)="createNewFormDialog()"
                pButton
              ></button>
            </div>
          </ng-template>

          <ng-template let-form pTemplate="gridItem" let-index="rowIndex">
            <div class="p-col-12 p-sm-6 p-lg-3">
              <div class="form-grid-item">
                <p-card header="{{ form.data.title | limitLength: 25}}">
                  <div class="form-grid-item__content">
                    <div class="content-row">
                      <span>
                        Created: 
                      </span>
                      {{ form.created_at | date: 'mediumDate' }}
                    </div>
                  </div>
                  <p-footer>
                    <div class="p-d-flex p-flex-column">
                      <button
                        class="p-shadow-6"
                        type="button"
                        label="Edit"
                        icon="pi pi-pencil"
                        iconPos="right"
                        pButton
                        (click)="openEditDialog(form, index)"
                      ></button>
                      <button
                        class="p-button-text p-button-danger p-mt-3"
                        type="button"
                        label="Delete"
                        iconPos="right"
                        (click)="deleteForm(index)"
                        pButton
                      ></button>
                    </div>
                  </p-footer>
                </p-card>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div> -->
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <h1>Forms</h1>
          </div>

          <div class="p-toolbar-group-right">
            <!-- <span class="p-input-icon-right p-input-filled p-mb-2 p-mb-md-0">
              <input
                type="search"
                pInputText
                placeholder="Search by form title"
                (input)="dv.filter($event.target.value)"
              />
              <i class="pi pi-search"></i>
            </span> -->
            <button
              class="p-button-success"
              type="button"
              label="Create Form"
              icon="pi pi-plus"
              iconPos="right"
              (click)="createNewFormDialog()"
              pButton
            ></button>
          </div>
        </p-toolbar>
      </div>

      <div
        *ngFor="let form of forms; index as formIndex"
        class="p-col-12 p-sm-6 p-lg-3"
      >
        <div class="form-grid-item">
          <p-card header="{{ form.data.title | limitLength: 25 }}">
            <div class="form-grid-item__content">
              <div class="content-row">
                <span> Created: </span>
                {{ form.created_at | date: "mediumDate" }}
              </div>
            </div>
            <p-footer>
              <div class="p-d-flex p-flex-column">
                <button
                  class="p-shadow-6"
                  type="button"
                  label="Edit"
                  icon="pi pi-pencil"
                  iconPos="right"
                  pButton
                  (click)="openEditDialog(form, formIndex)"
                ></button>
                <button
                  class="p-button-text p-button-danger p-mt-3"
                  type="button"
                  label="Delete"
                  iconPos="right"
                  (click)="deleteForm(formIndex)"
                  pButton
                ></button>
              </div>
            </p-footer>
          </p-card>
        </div>
      </div>

      <div *ngIf="!forms || !forms.length" class="p-col-12">
        <p-card>
          <div class="p-d-flex p-ai-center p-jc-center p-text-center" style="height: 400px;">
            <div>
              <strong>
                Add forms to see them here
              </strong>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>

  <p-dialog
    class="form-maker-dialog"
    header="Create New Form"
    [(visible)]="showFormMakerDialog"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
  >
    <app-order-mail-form-maker
      [formGroup]="newForm"
    ></app-order-mail-form-maker>
    <p-footer>
      <p-button
        label="Done"
        icon="pi pi-check"
        iconPos="right"
        styleClass="p-button-success"
        (onClick)="addForm()"
      ></p-button>
    </p-footer>
  </p-dialog>

  <app-footer></app-footer>
  <p-toast position="bottom-center"></p-toast>
</div>
