<div class="order-mail-list-component">
  <p-card styleClass="mail-thread" header="Mail Thread">
    <p-scrollPanel #mailContainer [style]="{ width: '100%', height: '80vh' }">
      <p-accordion *ngIf="mails.length; else noMessages" [multiple]="true">
        <ng-container *ngFor="let mail of mails; first as isFirst">
          <p-accordionTab
            class="mail-item {{
              mail.sender.id == user.id ? 'user-msg' : 'reply-msg'
            }}"
            [selected]="isFirst"
          >
            <ng-template pTemplate="header">
              <div class="message-header d-flex justify-content-between">
                <div class="author-details">
                  <span class="author-details__name">
                    {{
                      mail.sender.first_name + ' ' + mail.sender.last_name
                        | titlecase
                    }}
                  </span>
                </div>
                <div class="message-meta">
                  {{ mail.created_at | date: 'medium' }}
                </div>
              </div>
            </ng-template>

            <!-- TODO: Fix after api is properly developed -->
            <div class="message">
              <div class="forms-list">
                <div
                  class="message"
                  [innerHtml]="mail.message_content.message"
                ></div>
                <div class="message-form-list">
                  <div
                    *ngFor="let form of mail.message_content.forms"
                    class="message-form-list-item p-mt-3"
                  >
                    <div class="message-form-list-item__title">
                      {{ form.title | limitLength: 30 }}
                    </div>
                    <div class="message-form-list-item__tools">
                      <button
                        type="button"
                        [label]="
                          mail.sender.id != user.id ? 'Answer' : 'Preview'
                        "
                        class="shadow"
                        (click)="previewForm(form, mail.sender.id != user.id)"
                        pButton
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </ng-container>
      </p-accordion>

      <ng-template #noMessages>
        <p class="p-text-center">You don't have any mail now.</p>
      </ng-template>
    </p-scrollPanel>
  </p-card>

  <p-card class="compose-mail">
    <div
      *ngIf="user.role === 'admin' && orderMailForm"
      class="form-list p-mb-3"
    >
      <div class="form-list__item">
        <div class="form-list__item__title">
          {{ orderMailForm.value.title }}
        </div>
        <div class="form-list__item__tools">
          <p-button
            label="Delete"
            styleClass="p-button-text p-button-sm p-button-danger p-mr-2"
            (onClick)="deleteOrderMailForm()"
          ></p-button>
          <p-button
            label="Open"
            styleClass="p-button-sm p-button-primary"
            (onClick)="toggleFormMakerDialog()"
          ></p-button>
        </div>
      </div>
    </div>

    <p-toolbar styleClass="p-mb-2" *ngIf="user.role === 'admin'">
      <div class="p-toolbar-group-left"></div>

      <div class="p-toolbar-group-right">
        <div>
          <p-button
            label="Select Form"
            icon="pi pi-download"
            iconPos="right"
            styleClass="p-mr-2"
            [disabled]="orderMailForm"
            (onClick)="toggleSavedFormsDialog()"
          ></p-button>
          <p-button
            label="Create Form"
            icon="pi pi-plus"
            iconPos="right"
            (onClick)="createForm()"
            [disabled]="orderMailForm"
          ></p-button>
        </div>
      </div>
    </p-toolbar>

    <div class="compose-mail__writer">
      <p-editor [(ngModel)]="mailText"></p-editor>
    </div>
    <p-footer>
      <p-button
        styleClass="p-button-success"
        label="Send Mail"
        icon="pi pi-chevron-right"
        iconPos="right"
        [disabled]="!mailText"
        (click)="sendMail()"
      ></p-button>
    </p-footer>
  </p-card>

  <p-dialog
    *ngIf="user.role === 'admin'"
    class="form-maker-dialog"
    [(visible)]="showFormMakerDialog"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
    position="bottom"
    [blockScroll]="true"
    [autoZIndex]="false"
  >
    <ng-template pTemplate="header">
      <div class="form-maker-dialog__header">Create New Form</div>
      <div>
        <p-button
          label="Cancel"
          styleClass="p-button-danger p-button-text p-mr-2"
          (onClick)="toggleFormMakerDialog()"
        ></p-button>
        <p-button
          label="Save Form"
          icon="pi pi-check"
          iconPos="right"
          styleClass="p-button-success"
          [disabled]="!orderMailForm.valid"
          (onClick)="toggleFormMakerDialog()"
        ></p-button>
      </div>
    </ng-template>
    <app-admin-forms-maker
      *ngIf="orderMailForm"
      [formGroup]="orderMailForm"
    ></app-admin-forms-maker>
  </p-dialog>

  <p-dialog
    class="saved-forms-dialog"
    header="Saved Forms"
    [(visible)]="savedFormsDialog"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [dismissableMask]="true"
    *ngIf="user.role === 'admin'"
  >
    <p-listbox
      [options]="savedForms"
      [(ngModel)]="selectedSavedForm"
      [metaKeySelection]="false"
      [filter]="true"
      optionLabel="name"
      [style]="{ width: '500px', height: '80vh' }"
      (onChange)="setMailForm()"
    >
      <ng-template let-form pTemplate="item">
        <div class="saved-forms-list-item p-d-flex p-jc-between p-ai-center">
          <div class="saved-forms-list-item__name">
            {{ form.name }}
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </p-dialog>

  <p-dialog
    *ngIf="activeForm && activeForm.config"
    styleClass="message-form-dialog"
    [(visible)]="activeForm.visible"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
    [modal]="true"
  >
    <ng-template pTemplate="header">
      <button
        type="button"
        label="Close"
        class="p-button-text p-button-danger"
        (click)="toggleMessageForm()"
        pButton
      ></button>
    </ng-template>
    <app-custom-form
      [formReceiver]="activeForm.isReceiver"
      [formConfig]="activeForm.config"
    ></app-custom-form>
  </p-dialog>

  <p-toast></p-toast>
</div>
