<div class="order-mail-list-component mb-5 {{ styleClass }}">
  <p-card header="Mail Thread">
    <p-scrollPanel #mailContainer [style]="{ width: '100%', height: '80vh' }">
      <p-accordion
        *ngIf="mails.length; else noMessages"
        styleClass="mb-5"
        [multiple]="true"
      >
        <ng-container *ngFor="let mail of mails; first as isFirst">
          <p-accordionTab
            class="{{ mail.sender.id == user.id ? 'user-msg' : 'reply-msg' }}"
            [selected]="isFirst"
          >
            <ng-template pTemplate="header">
              <div class="message-header d-flex justify-content-between">
                <div class="author-details">
                  <span class="author-details__name">
                    {{ mail.sender.first_name + " " + mail.sender.last_name }}
                  </span>
                </div>
                <div class="message-meta">
                  {{ mail.created_at | date: "medium" }}
                </div>
              </div>
            </ng-template>

            <!-- TODO: Fix after api is properly developed -->
            <div class="message">
              <div class="forms-list">
                <div
                  *ngFor="
                    let form of mail.message_content.forms;
                    index as formIndex
                  "
                >
                  <app-order-mail-form
                    [formReceiver]="mail.sender.id != user.id"
                    [form]="form"
                  ></app-order-mail-form>
                </div>
              </div>
              <div
                class="message mt-3"
                [innerHtml]="mail.message_content.message"
              ></div>
            </div>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
      <ng-template #noMessages>
        <p class="text-center">Send mail to see them here !</p>
      </ng-template>
    </p-scrollPanel>
  </p-card>

  <div class="compose-mail mt-5">
    <p-toolbar *ngIf="user.role === 'admin'" styleClass="shadow mb-4">
      <div class="p-toolbar-group-left"></div>

      <div class="p-toolbar-group-right">
        <div>
          <p-button
            label="Add Form"
            icon="pi pi-plus"
            iconPos="right"
            styleClass="p-button-sm"
            (onClick)="toggleFormMakerDialog()"
            [disabled]="orderMailForm.touched"
          ></p-button>
        </div>
      </div>
    </p-toolbar>
    <p-dialog header="Add Form" [(visible)]="showFormMakerDialog">
      <app-order-mail-form-maker
        *ngIf="user.role === 'admin'"
        [formGroup]="orderMailForm"
      ></app-order-mail-form-maker>
      <p-footer>
        <p-button
          label="Done"
          icon="pi pi-check"
          iconPos="right"
          styleClass="p-button-sm p-button-success"
          (onClick)="toggleFormMakerDialog()"
        ></p-button>
      </p-footer>
    </p-dialog>
    <div class="compose-mail__writer">
      <p-editor [(ngModel)]="mailText" styleClass="shadow"></p-editor>
    </div>
    <div class="compose-mail__footer d-flex justify-content-end">
      <p-button
        class="mt-3"
        styleClass="p-button-success"
        label="Send Mail"
        icon="pi pi-chevron-right"
        iconPos="right"
        [disabled]="!mailText"
        (click)="sendMail()"
      ></p-button>
    </div>
    <div *ngIf="orderMailForm.touched" class="form-list mt-5">
      <div class="form-list__item">
        <div class="form-list__item__title">
          {{orderMailForm.value.title}}
        </div>
        <div class="form-list__item__tools">
          <p-button
            label="Delete"
            icon="pi pi-trash"
            iconPos="right"
            styleClass="p-button-sm p-button-danger"
            (onClick)="orderMailForm.reset()"
          ></p-button>
          <p-button
            label="Open"
            icon="pi pi-external-link"
            iconPos="right"
            styleClass="p-button-sm p-button-primary ml-3"
            (onClick)="toggleFormMakerDialog()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</div>
