@import "../../../assets/css/variables.scss";

:host {
  ::ng-deep {
    .message-header {
      width: 100%;
    }

    .mail-thread {
      .p-card {
        &-body {
          padding: 0;
        }
  
        &-title {
          padding: 1rem;
          font-weight: 900;
        }
  
        .mail-item {
          .p-accordion-tab {
            box-shadow: none;
            border: 1px solid $light-grey;
            border-width: 1px 0 1px 0;
            border-radius: 0;
  
            &.p-accordion-tab-active {
              margin-bottom: 0;
            }
  
            &:first-child {
              .p-accordion-header {
                .p-accordion-header-link {
                  border-top-right-radius: 0;
                  border-top-left-radius: 0;
                }
              }
            }
  
            .author-details {
              &__name {
                font-weight: 500;
              }
            }
          }
  
          &.user-msg {
            .p-accordion-header-link,
            .p-accordion-content {
              // background: $lighter-grey !important;
              background: rgba(222, 239, 183, 0.3) !important;
            }
  
            .order-mail-form-component {
              .p-accordion-header-link,
              .p-accordion-content {
                background: white !important;
              }
            }
          }
        }
      }
    }

    .p-scrollpanel-bar {
      background: $primary-color;
      // opacity: 1;
    }

    .compose-mail {
      .p-card {
        margin-top: 3em;

        &-footer {
          text-align: right;
        }
      }

      &__writer {
        height: 320px;
      }
  
      .p-editor-container {
        height: 88%;
      }
    }

    .order-mail-form-maker {
      .p-dialog {
        width: 70vw;
      }
    }

    .form-list__item {
      border: 1px solid $secondary-color;
      border-radius: 6px;
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .form-list__item__title {
      font-weight: 600;
    }

    .saved-forms-dialog {
      .saved-forms-list-item {
        width: 100%;

        &__name {
          font-weight: 500;
        }
      }
    }
  }
}
