@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .p-accordion {
      &-header {
        border-bottom: 1px solid $light-grey;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
      }
      &-content {
        padding: 0;
      }
    }
  }
}