<ng-container [formGroup]="form">
  <div
    formArrayName="questions"
    class="order-mail-form-maker-dropdown-component"
  >
    <ng-container [formGroupName]="questionIndex">
      <div class="p-fluid p-field p-input-filled">
        <label for="form-question-{{ form.value.questions[questionIndex].id }}">
          Enter the question
        </label>
        <input
          type="text"
          formControlName="label"
          id="form-question-{{ form.value.questions[questionIndex].id }}"
          placeholder="Enter the question"
          pInputText
        />
      </div>
      <div class="dropdown-options p-mt-5" formArrayName="inputs">
        <label class="p-mb-2">
          Enter dropdown options
        </label>
        <div
          class="p-field p-inputgroup p-input-filled p-mt-2"
          *ngFor="
            let input of inputs(questionIndex).controls;
            index as inputIndex
          "
        >
          <ng-container [formGroupName]="inputIndex">
            <input
              formControlName="label"
              id="mail-form-question-input-{{
                form.value.questions[questionIndex].inputs[inputIndex]
              }}"
              type="text"
              pInputText
              placeholder="Label for dropdown option"
            />
            <button
              class="p-button-danger"
              type="button"
              icon="pi pi-times"
              pButton
              pRipple
              (click)="removeQuestionInput(inputIndex)"
            ></button>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div class="p-text-right p-fluid">
      <p-button
        label="Add Dropdown Option"
        icon="pi pi-plus"
        iconPos="right"
        styleClass="p-button-success"
        (onClick)="addQuestionInput()"
      ></p-button>
    </div>
  </div>
</ng-container>
