<div [formGroup]="form" class="order-mail-form-maker-dropdown-component">
  <div class="p-fluid p-field p-input-filled">
    <label for="form-question-{{ form.value.id }}"> Enter the question </label>
    <input
      type="text"
      formControlName="label"
      id="form-question-{{ form.value.id }}"
      placeholder="Enter the question"
      pInputText
    />
  </div>
  <div *ngIf="inputs.length" class="dropdown-options p-input-filled p-mt-5" formArrayName="inputs">
    <label class="p-mb-3"> Enter dropdown options </label>
    <ng-container *ngFor="let input of inputs.controls; index as inputIndex">
      <div
        [formGroupName]="inputIndex"
        class="form-maker-inputgroup p-field p-inputgroup p-mt-2"
      >
        <button
          class="p-button-danger p-button-text"
          type="button"
          aria-label="remove question input"
          icon="pi pi-times"
          (click)="removeQuestionInput(inputIndex)"
          pButton
          pRipple
        ></button>
        <input
          formControlName="label"
          id="mail-form-question-input-{{ form.value.inputs[inputIndex] }}"
          type="text"
          pInputText
          placeholder="Label for dropdown option"
        />
        <button
          *ngIf="!form.value.is_child"
          class="p-button-success"
          label="Add Child Input"
          type="button"
          (click)="addChildrenQuestion(inputIndex)"
          pButton
          pRipple
        ></button>
      </div>

      <div class="children-questions">
        <div
          *ngFor="let childQuestion of childrenQuestions(inputIndex).controls; index as childIndex"
          class="children-questions-item"
        >
          <div class="children-questions-item__label">
            {{ childQuestion.value.label | limitLength: 100 }}
          </div>
          <div>
            <button
              aria-label="Edit Child question"
              class="children-questions-item__edit-btn"
              type="button"
              label="Edit"
              icon="pi pi-pencil"
              iconPos="right"
              (click)="emitChildQuestion(childQuestion, childrenQuestions(inputIndex), childIndex)"
              pButton
            ></button>
            <button
              aria-label="Delete child question"
              class="children-questions-item__delete-btn p-button-text p-button-danger"
              type="button"
              icon="pi pi-trash"
              (click)="removeChildrenQuestion(inputIndex, childIndex)"
              pButton
            ></button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="p-text-right p-fluid">
    <p-button
      label="Add Dropdown Option"
      icon="pi pi-plus"
      iconPos="right"
      styleClass="p-button-success"
      (onClick)="addQuestionInput()"
    ></p-button>
  </div>
</div>
