@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .login-page {
      position: relative;
    }

    .right-panel {
      height: 100%;
      width: 100%;
      background-image: $bg-primary-transparent, 
        url("https://static.pexels.com/photos/33972/pexels-photo.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      padding: 2em;

      .right-panel-content {
        color: white;

        h2 {
          font-size: 3rem;
          font-weight: 900;
          margin: 0;
        }
      }

      .right-panel-img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }


    .login-form-card {
      max-width: 475px;
      min-width: 300px;
      margin: 3em auto;

      .login-form-card-title {
        font-size: 1.6rem;
        margin: 0;
        padding: 1rem;
      }
    }

    #login-help {
      display: block;
      margin-top: 1em;
    }

    .p-field {
      position: relative;
      margin-bottom: 2.5em;

      &:last-of-type {
        margin-bottom: 0;
      }

      .form-error-message {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }

    .login-btn {
      margin-top: 1.5em;
    }
  }
}