<div class="login-page">
  <app-header></app-header>

  <div class="p-grid p-nogutter">
    <div class="p-col-12 p-md-7 p-xl-6">
      <div>
        <!-- login form starts -->
        <p-card styleClass="login-form-card">
          <p-header>
            <h1 class="login-form-card-title">Login</h1>
          </p-header>
          <form
            #loginForm="ngForm"
            (ngSubmit)="login()"
            class="login-form p-fluid"
          >
            <div class="p-field p-input-filled">
              <label for="email"> Email </label>
              <input
                #email="ngModel"
                [(ngModel)]="user.email"
                id="email"
                name="email"
                type="email"
                [email]="true"
                required
                pInputText
              />
              <small
                [hidden]="!error && (email.valid || email.pristine)"
                id="email-help"
                class="form-error-message p-invalid"
              >
                Email is invalid
              </small>
            </div>
            <div class="p-field p-input-filled">
              <label for="password"> Password </label>
              <input
                #password="ngModel"
                [(ngModel)]="user.password"
                id="password"
                name="password"
                type="password"
                required
                pInputText
              />
              <small
                [hidden]="!error && (password.valid || password.pristine)"
                id="password-help"
                class="form-error-message p-invalid"
              >
                Password is invalid
              </small>
            </div>
            <div class="p-fluid">
              <div class="p-field">
                <p-button
                  styleClass="login-btn p-button-lg p-shadow-12"
                  label="Sign In"
                  type="submit"
                  [disabled]="!loginForm.form.valid"
                ></p-button>
                <div id="login-help">
                  Not signed up?
                  <a routerLink="/signup">
                    <strong> Sign Up. </strong>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </p-card>
        <!-- login form ends -->
      </div>
    </div>

    <div class="p-col-12 p-xl-6">
      <div class="right-panel">
        <!-- <img class="right-panel-img" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="typing on computer"> -->
        <div class="right-panel-content">
          <h2>Welcome Back</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            architecto repellendus et ducimus laboriosam temporibus natus culpa.
            Libero itaque, doloribus inventore quibusdam enim quidem. Ipsa saepe
            mollitia consequatur eum autem?
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <p-toast position="bottom-center"></p-toast>
</div>
