<app-header></app-header>

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>

        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ error }}
        </div>

        <div class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Email</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="user.email"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              [(ngModel)]="user.password"
              placeholder="Password"
            />
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" />
              <small>Remember Me</small>
            </label>
            <button
              type="submit"
              (click)="login()"
              class="btn btn-login float-right"
            >
              Login
            </button>
          </div>

          <div><a [routerLink]="['/signup']">Create an account</a></div>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
