@import 'src/assets/css/variables.scss';

:host {
  ::ng-deep {
    .admin-custom-form {
      position: relative;
    }
    
    .form-card {
      margin-top: 3rem;
    }

    .form-card__header {
      background: white;
    }
    
    .form-card__form-id {
      height: 2.5rem;
      width: 2.5rem;
      background-color: $accent-color;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      margin-left: 1em;
    }
    
    .form-controls {
      position: absolute;
      left: 102%;
      top: 0;
      background-color: white;
      padding: 1em;
      border-radius: 6px;
    }
    
    .form-controls__btn {
      margin-bottom: 1em;
      border-radius: 6px;

      .btn {
        color: white;
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    
    #select-option-overlay--placeholder {
      position: relative;
      height: 100px;
      width: 100px;
    }
  }
}

:host-context(body) {
  .add-form-options-overlay {
    .p-overlaypanel-content {
      padding: 0;
    }
  }
}
