<div class="admin-custom-form-component mb-5">
  <aside 
    *ngIf="!formGroup.value.is_formgroup"
    class="form-controls">
    <div class="form-controls__btn">
      <button
        (click)="selectOptionOverlayTemplate.toggle($event)"
        class="btn btn-primary"
      >
        <i class="pi pi-plus"></i>
        <span class="sr-only">
          Add an option to the form
        </span>
      </button>
    </div>
    <div class="form-controls__btn">
      <button
        class="btn btn-danger"
        (click)="removeCustomForm(formId)"
      >
        <i class="pi pi-trash"></i>
      </button>
      <span class="sr-only">
        Delete the custom form
      </span>
    </div>
    <p-overlayPanel
      #selectOptionOverlayTemplate
      [dismissable]="true"
      appendTo="body"
      styleClass="add-form-options-overlay"
    >
      <ng-template pTemplate>
        <p-listbox
          [options]="customOptions"
          [(ngModel)]="selectedCustomOption"
          [filter]="true"
          (onClick)="addOption(selectedCustomOption)"
        >
          <p-header>
            Select the option to insert
          </p-header>
        </p-listbox>
      </ng-template>
    </p-overlayPanel>
  </aside>
  <p-card
    [formGroup]="formGroup"
    styleClass="form-card"
  >
    <p-header class="form-card__header d-flex">
      <label class="sr-only" for="custom-form-title">
        Enter the custom form title
      </label>
      <input
        type="text"
        formControlName="title"
        name="custom-form-title"
        id="custom-form-title"
        placeholder="Enter the custom form title"
        pInputText
        class="flex-grow-1"
      >
      <div class="form-card__form-id">
        {{formId}}
      </div>
    </p-header>
    <div class="form-card__body">
      <div class="form-group">
        <label
          for="isFormGroup"
        >
          Form Group
        </label>
        <div id="isFormGroup" class="input-group">
          <p-inputSwitch formControlName="is_formgroup"></p-inputSwitch>
        </div>
      </div>
      <ng-container *ngIf="!formGroup.value.is_formgroup">
        <div class="form-group">
          <label
            for="parentForm"
          >
            Select a parent form
          </label>
          <div class="input-group">
            <p-dropdown 
              [options]="parentForms" formControlName="parent_form"
              (onClick)="updateParentForms()"
            ></p-dropdown>
          </div>
        </div>
        <ng-container formArrayName="options">
          <div class="mt-5" *ngFor="let option of options().controls; let optionInd = index">
            <app-admin-form-options
              [formArray]="options()"
              [option]="option"
              [ind]="optionInd"
            >
            </app-admin-form-options>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </p-card>
</div>
