<p-carousel
  [value]="featured"
  styleClass="custom-carousel"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-product pTemplate="item">
    <div class="product">
      <div class="item-num-badge">
        {{ product.ItemNum }}
      </div>
      <a [routerLink]="['/products/custom', product.id]">
        <img [src]="product.image" [alt]="product.name" class="product-image" />
      </a>
      <div class="product-content">
        <div class="product-name">
          <a [routerLink]="['/products/custom', product.id]">
            {{ product.name }}
          </a>
        </div>
        <div class="product-price">
          {{ product.base_price | currency: "USD" }}
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
