@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .p-carousel {
      background-color: white;
      border-bottom: 1px solid $light-color;
      padding-top: 1em;

      .p-carousel-indicators {
        display: none;
      }

      .p-carousel-item {
        height: 300px;
        overflow: hidden;
        padding: 1em;
        position: relative;

        .product {
          height: 100%;

          .item-num-badge {
            padding: 0.2em;
            background-color: $primary-color;
            color: white;
            font-weight: 500;
            position: absolute;
            right: 0;
            width: 5rem;
            text-align: center;
          }

          .product-image {
            display: block;
            width: 100%;
            height: 60%;
            object-fit: contain;
          }
          .product-content {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .product-name {
              font-size: 15px;
              a {
                color: $dark-color;
                text-decoration: none;
              }
            }

            .product-price {
              font-size: 2rem;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
