@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {    
    h1, h2, h3 {
      margin: 0;
    }

    .form-grid-item {
      .p-card {
        box-shadow: none;
        border: 1px solid $light-grey;

        &-title {
          font-size: 1.2rem;
        }

        &-footer {
          .edit-btn {
            flex-grow: 1;
          }
        }
      }

      &__content {
        .content-row {
          span {
            font-weight: 500;
          }
        }
      }
    }

    .form-maker-dialog {
      &__header {
        font-size: 1.25rem;
        font-weight: 500;
        flex-grow: 1;
      }

      .p-dialog {
        width: 100%;
        height: 100%;
        max-height: 100%;
        margin: 0;
        overflow: visible;

        &-header {
          justify-content: space-between;
          padding: 1em;
          border-bottom: 1px solid $light-grey;
        }

        &-content {
          padding-top: 0.5em;
          position: relative;
          flex-grow: 1;
        }
      }
    }
  }
}