// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import './assets/css/variables.scss';
@import './assets/css/bootstrap-container.css';

/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #cc9933;
  --primary-color-text:#ffffff;
  --secondary-color: #deefb7;
  --dark-color: #2b2b2b;
  --surface-a:#ffffff;
  --surface-b:#fafafa;
  --surface-c:rgba(0,0,0,.04);
  --surface-d:rgba(0,0,0,.12);
  --surface-e:#ffffff;
  --surface-f:#ffffff;
  --text-color:#2b2b2b;
  --text-color-secondary:textSecondaryColor;
  --font-family:Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./assets/fonts/roboto-v20-latin-ext_latin-regular.woff2") format("woff2"), url("./assets/fonts/roboto-v20-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./assets/fonts/roboto-v20-latin-ext_latin-500.woff2") format("woff2"), url("./assets/fonts/roboto-v20-latin-ext_latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./assets/fonts/roboto-v20-latin-ext_latin-700.woff2") format("woff2"), url("./assets/fonts/roboto-v20-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  background: $lighter-grey;
  color: $dark-color;
  font-family: "Roboto";
  font-size: 14px;
  min-height: 600px;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.8;
}

.highlight {
  color: var(--primary-color);
}


/**
 * utility classes for the project starts
 */
 .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.bg-success {
  background: linear-gradient(90deg, #21BF73 0%, #28DF99 100%);
}

.bg-danger {
  background: linear-gradient(90deg, #FF414D 0%, #FF4B5C 96.87%);
}

.bg-warning {
  background: linear-gradient(90deg, #F6D743 0%, #F6F578 100%);
}

.bg-info {
  background: linear-gradient(90deg, #00A8CC 0%, #00BCD4 100%);
}
/**
 * utility classes for the project ends
 */

@import './assets/css/primeng-theme-edited.scss';