:host {
  ::ng-deep {
    .section-title {
      text-align: center;
      font-size: 1.25rem;
      margin: 0;
      text-transform: capitalize;
    }

    .questions-list {
      >* {
        .p-card {
          margin-bottom: 2em;
        }
      }
    }
  }
}