@import '../../../assets/css/variables.scss';

.product-card {
  background: white;
  border: 1px solid $light-grey;
  border-radius: 6px;
  overflow: hidden;
}

.product-desc__name {
  font-size: 1.3rem;
  font-weight: 600;
}

.product-card__img {
  text-align: center;
  overflow: hidden;
}

.product-desc__price {
  font-size: 1.5rem;

  &>span:nth-of-type(1) {
    font-weight: 800;
  }
}