<div class="product-card">
  <div class="product-card__img border-bottom">
    <img class="img-fluid object--cover" src="{{image}}" alt="Product Image">
  </div>
  <div class="product-desc mt-3 p-3">
    <div>
      <h2 class="product-desc__name">
        {{name}}...
      </h2>
      <p class="product-desc__content">
        {{description | slice: 0:100}}...
      </p>
      <p class="product-desc__price mb-0 text-right">
        <span>
          Total Price:
        </span>
        <span>
          {{totalPrice | currency: 'USD'}}
        </span>
      </p>
    </div>
  </div>
</div>