@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .p-card {
      box-shadow: none;

      .p-card-content {
        .product-card {
          &__img {
            height: 350px;
            border-radius: 6px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            .img-placeholder {
              font-size: 2rem;
            }
          }

          .product-desc {
            p {
              margin-bottom: 0;
            }

            &__name {
              font-weight: 500;
              margin-bottom: 0;
            }

            &__content {
              margin-bottom: 0;
            }

            &__price {
              &__label {
                display: block;
                font-size: 0.9rem;
              }

              &__value {
                font-weight: 700;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}