<div>
  <app-admin-header></app-admin-header>
  <div *ngIf="productForm" class="p-grid p-nogutter">
    <div class="p-col-12 p-lg-8">
      <div
        #panelsWrapper
        class="product-views-panel p-grid p-nogutter p-jc-center"
      >
        <div class="p-col-12">
          <app-product-preview-canvas
            styleClass="preview-component"
            [adminMode]="true"
            [productForm]="productForm"
            view="front_view"
          ></app-product-preview-canvas>
          <!-- <p-tabView styleClass="position-sticky img-preview-tabs">
            <p-tabPanel header="Front View">
              <app-product-preview-canvas
                [adminMode]="true"
                [productForm]="productForm"
                view="front_view"
              ></app-product-preview-canvas>
            </p-tabPanel>
            <p-tabPanel header="Back View">
              <app-product-preview-canvas
                [adminMode]="true"
                [productForm]="productForm"
                view="back_view"
              ></app-product-preview-canvas>
            </p-tabPanel>
          </p-tabView> -->
        </div>
      </div>
    </div>
    <div class="p-col-12 p-lg-4">
      <div class="form-panel p-p-3">
        <app-admin-custom-product-crud-form
          [productForm]="productForm"
          (onSubmit)="saveProduct()"
        ></app-admin-custom-product-crud-form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
