<div>
  <app-admin-header></app-admin-header>
  <div *ngIf="productForm" class="p-grid p-nogutter">
    <div class="p-col-12 p-lg-8">
      <div class="product-views-panel p-grid p-nogutter p-jc-center">
        <div class="p-col-12 p-p-2">
          <p-tabView styleClass="position-sticky img-preview-tabs">
            <p-tabPanel header="Front View">
              <!-- <app-custom-product-image-preview
                viewType="Front View"
                [baseImage]="productForm.value.product.images[0].front_view"
                [overlayImg]="
                  activeAttrForm && activeAttrForm.value.images[0].front_view
                "
              ></app-custom-product-image-preview> -->
              <app-product-preview-canvas
                [(canvas)]="previewCanvas"
              ></app-product-preview-canvas>
            </p-tabPanel>
            <p-tabPanel header="Back View">
              <app-custom-product-image-preview
                viewType="Back View"
                [baseImage]="productForm.value.images[0].back_view"
                [overlayImg]="
                  activeVariantForm &&
                  activeVariantForm.value.images[0].back_view
                "
              ></app-custom-product-image-preview>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-lg-4">
      <div class="form-panel p-p-3">
        <app-admin-custom-product-crud-form
          [productForm]="productForm"
          (onSubmit)="saveProduct()"
        ></app-admin-custom-product-crud-form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
