@import '../../../assets/css/variables.scss';

:host {
  ::ng-deep {
    .product-views-panel {
      height: 100%;

      .img-preview-tabs {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .p-tabview-panels {
          flex-grow: 1;

          .p-tabview-panel {
            height: 100%;
          }
        }
      }
    }

    .preview-component {
      height: 100vh;
    }

    .form-panel {
      min-height: 100vh;
      overflow-y: show;
      border-left: 1px solid $light-grey;
      background-color: $bg-color;
    }
  }
}
