<div class="status-card {{styleClass}} p-2">
  <div class="status-card__section status-card__title">
    <div class="status-card-title__icon">
      <i class="{{iconClass}}"></i>
    </div>
    <h3 class="status-card-title__text">
      {{card.title}}
    </h3>
  </div>
  <div class="status-card__section status-card__content">
    <div class="status-card-content__value">
      {{ card.value }}
    </div>
  </div>
  <div class="status-card__section status-card__footer">
    <a [routerLink]="" class="status-card-footer__more-btn">
      More info
    </a>
  </div>
</div>
