<div class="order-mail-form-color-component p-p-5 form-group" [formGroup]="form">
  <div class="question">
    <span class="question__text">
      {{ question.label }}
    </span>
  </div>
  <div class="question-input-container radio-list">
    <div
      *ngFor="let input of question.inputs; let radioInd = index"
      [ngClass]="{
        'question-input question-input--color': true,
        'question-input--selected': form.value.input_value.value === input.value ? true : false
      }"
    >
      <input
        type="radio"
        id="radio-input-{{ input.id }}"
        formControlName="input_value"
        class="question-input__input"
        [value]="input"
      />
      <label 
        for="radio-input-{{ input.id }}"
        class="question-input-label"
      >
        <div class="question-input-label__text">
          {{ input.label }}
        </div>
      </label>
      <div class="color-preview" [style.background]="input.value"></div>
    </div>
  </div>
</div>
