<!-- <p-table
  #dt
  [value]="orders"
  [(selection)]="selectedOrders"
  dataKey="id"
  styleClass="ui-table-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="
          Showing {{ first }} to {{ last }} of {{ totalRecords }} entries
        "
  [filterDelay]="0"
  [globalFilterFields]="['name', 'status']"
>
  <ng-template pTemplate="caption">
    Orders Placed
    <div class="ui-table-globalfilter-container">
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Global Search"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="product_details.name">
        Product <p-sortIcon field="product_details.name"></p-sortIcon>
      </th>
      <th pSortableColumn="created_at">
        Order Date <p-sortIcon field="created_at"></p-sortIcon>
      </th>
      <th pSortableColumn="delivery_date">
        Delivery Date <p-sortIcon field="delivery_date"></p-sortIcon>
      </th>
      <th pSortableColumn="order_status">
        Status <p-sortIcon field="order_status"></p-sortIcon>
      </th>
      <th pSortableColumn="total_price">
        Price <p-sortIcon field="total_price"></p-sortIcon>
      </th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr *ngIf="order.product_details" class="ui-selectable-row">
      <td>
        <p-tableCheckbox [value]="order"></p-tableCheckbox>
      </td>
      <td>
        <span class="ui-column-title sr-only">Id </span>
        {{ order.id }}
      </td>
      <td>
        <span class="ui-column-title sr-only">Product </span>
        <img
          alt="{{ order.product_details.name }}"
          src="{{ order.product_details.image }}"
          width="32"
          style="vertical-align: middle; display: inline-block;"
        />
        <a
          style="vertical-align: middle; margin-left: 0.5em"
          routerLink="{{ order.id }}"
        >
          {{ order.product_details.name }}
        </a>
      </td>
      <td>
        <span class="ui-column-title sr-only">Order Date</span>
        {{ order.created_at | date }}
      </td>
      <td>
        <span class="ui-column-title sr-only">Delivery Date</span>
        {{ order.delivery_date | date }}
      </td>
      <td>
        <span class="ui-column-title sr-only">Status</span>
        <span [class]="'customer-badge status-' + order.order_status">
          {{ order.order_status }}
        </span>
      </td>
      <td>
        <span class="ui-column-title sr-only">Price </span>
        {{ order.total_price | currency: "USD" }}
      </td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="text-align: left">No customers found.</td>
    </tr>
  </ng-template>
</p-table> -->

<div class="p-grid admin-products-list">
  <div class="admin-data-table admin-products-table p-col card p-3">
    <p-toolbar styleClass="toolbar shadow p-mb-4">
      <ng-template pTemplate="left">
        <h1 class="toolbar__title m-md-0 mb-3">Orders</h1>
      </ng-template>
  
      <ng-template pTemplate="right">
        
      </ng-template>
    </p-toolbar>
  
    <p-table
      #dt
      [value]="orders"
      [rows]="25"
      [rowsPerPageOptions]="[25,50, 100]"
      [paginator]="true"
      [globalFilterFields]="[
        'data.product_details.name',
        'created_at',
        'delivery_date',
        'order_status'
      ]"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="admin-data-table-searchbar p-input-icon-right">
            <i class="admin-data-table-searchbar__icon pi pi-search"></i>
            <input
              class="admin-data-table-searchbar__input"
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search name, serial, category and base price"
              pInputText
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            ID <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="data.product_details.name">
            Product <p-sortIcon field="data.product_details.name"></p-sortIcon>
          </th>
          <th pSortableColumn="created_at">
            Order Date <p-sortIcon field="created_at"></p-sortIcon>
          </th>
          <th pSortableColumn="delivery_date">
            Delivery Date <p-sortIcon field="delivery_date"></p-sortIcon>
          </th>
          <th pSortableColumn="data.total_price">
            Price <p-sortIcon field="data.total_price"></p-sortIcon>
          </th>
          <th pSortableColumn="order_status">
            Status <p-sortIcon field="order_status"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>
            <span class="p-column-title">
              ID
            </span>
            <span>
              {{order.id}}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Product
            </span>
            <span>
              <a href="/orders/{{order.id}}">
                {{ order.data.product_details.name }}
              </a>
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Order Date
            </span>
            <span>
              {{ order.created_at | date: 'mediumDate' }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Delivery Date
            </span>
            <span>
              {{ order.delivery_date | date: 'mediumDate' }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Price
            </span>
            <span>
              {{ order.data.total_price | currency: 'USD' }}
            </span>
          </td>
          <td>
            <span class="p-column-title">
              Status
            </span>
            <span
              [class]="
                'order-badge status-' + order.order_status
              "
              >
                {{order.order_status}}
              </span
            >
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ orders ? orders.length : 0 }} products
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
