:host {
  ::ng-deep {
    .order-badge {
      border-radius: 2px;
      padding: 0.25em 0.5em;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.3px;
  
      &.status-closed {
        background-color: #c8e6c9;
        color: #256029;
      }
  
      &.status-cancelled {
        background-color: #ffcdd2;
        color: #c63737;
      }
  
      &.status-pending {
        background-color: #feedaf;
        color: #8a5340;
      }
  
      &.status-completed {
        background-color: #b3e5fc;
        color: #23547b;
      }
  
      &.status-renewal {
        background-color: #eccfff;
        color: #694382;
      }
  
      &.status-proposal {
        background-color: #ffd8b2;
        color: #805b36;
      }
    }
  }
}