<p-table
  #dt
  [value]="orders"
  [(selection)]="selectedOrders"
  dataKey="id"
  styleClass="ui-table-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="
          Showing {{ first }} to {{ last }} of {{ totalRecords }} entries
        "
  [filterDelay]="0"
  [globalFilterFields]="['name', 'status']"
>
  <ng-template pTemplate="caption">
    Orders Placed
    <div class="ui-table-globalfilter-container">
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Global Search"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="name">
        Product <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="orderDate">
        Order Date <p-sortIcon field="orderDate"></p-sortIcon>
      </th>
      <th pSortableColumn="deliveryDate">
        Delivery Date <p-sortIcon field="deliveryDate"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        Status <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th pSortableColumn="totalPrice">
        Price <p-sortIcon field="totalPrice"></p-sortIcon>
      </th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr class="ui-selectable-row">
      <td>
        <p-tableCheckbox [value]="order"></p-tableCheckbox>
      </td>
      <td>
        <span class="ui-column-title sr-only">Id </span>
        {{ order.id }}
      </td>
      <td>
        <span class="ui-column-title sr-only">Product </span>
        <img
          [alt]="order.name"
          src="{{ order.image }}"
          width="32"
          style="vertical-align: middle; display: inline-block; height: 100%"
        />
        <a
          style="vertical-align: middle; margin-left: 0.5em"
          routerLink="{{ order.id }}"
        >
          {{ order.name }}
        </a>
      </td>
      <td>
        <span class="ui-column-title sr-only">Order Date</span>
        {{ order.orderDate }}
      </td>
      <td>
        <span class="ui-column-title sr-only">Delivery Date</span>
        {{ order.deliveryDate }}
      </td>
      <td>
        <span class="ui-column-title sr-only">Status</span>
        <span [class]="'customer-badge status-' + order.status">
          {{ order.status }}
        </span>
      </td>
      <td>
        <span class="ui-column-title sr-only">Price </span>
        {{ order.totalPrice | currency: "USD" }}
      </td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="text-align: left">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
